.about {
    color: #fff;
    padding-top: 50px;
    .promo-block {
        margin-bottom:50px;
    }
    .img-title {
        margin-bottom: 35px;
        margin-top: 40px;
        max-width: 100%;
    }
    p {
        font-size: 16px;
        line-height: 20px;
    }
    .about-map {
        padding-top: 40px;
        img {
            max-width: 100%;
        }
    }
    .statistic-list {
        min-height: 210px;
    }
    .titles-block {
        margin-bottom: 70px;
    }
    .carousel-block {
        margin-bottom: 60px;
    }
}
.content-title {
    font-family: "Times";
    font-size: 48px;
    font-weight: 400;
    color: $gold;
    line-height: 55px;
    margin-bottom: 30px;
    @include respond-to($respond-phone) {
        font-size: 34px;
        line-height: 40px;
    }
}
.content-subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 30px;
}