<!-- .header -->
<header class="header">
	<div class="container">
		<div class="col">
	 		<div class="left-nav">
	 			<ul>
					 <li><a href="#">О проекте</a></li>
	 				 <li><a href="#">Одиссея вкусов</a></li>
	 			</ul>
	 		</div>
	 	</div>
	 	<div class="col">
	 		<a href="/" class="logo">
	 			<img src="./images/svg/logo.svg" alt="">
	 		</a>
	 	</div>
	 	<div class="col">
	 		<div class="right-nav">
	 			<ul>
	 				<li><a href="#">Календарь событий</a></li>
	 			</ul>
	 		</div>
	 	</div>
	</div>
</header><!-- end .header -->