.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	height: $header-height;
	line-height: $header-height;
	background: #000;
	font-size: 0;
	.col {
		width: (100%/3);
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		.logo {	
			display: inline-block;
		}
		.right-nav {
			li {
				a {
					&:hover {
						color: #fff !important;
					}
				}
			}
		}
		.left-nav,
		.right-nav {
			ul {
				list-style: none;
				margin:0;
				padding:0;
				font-size: 0;
				li {
					display: inline-block;
					&:not(:last-child) {
						margin-right:25px;
					}
				}
				a {
					display: block;
					color: #ffffff;
					font-family: 'Helvetica';
					font-size: 20px;
					font-weight: 400;
					transition: all .3s;
					&:hover {
						color: $gold;
					}
				}
			}
		}
	}
}
// [data-template="interview"] {
// 	.header {
// 		background: #000;
// 	}
// }
body[data-template="mainpage"] {
	.header {
		position: static;
		display: block;
		.left-nav,
		.right-nav {
			display: none;
		}
	}
}

@media (max-width:1024px) {
	.header {
		display: none !important;
	}
}