@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}




body[data-template="mainpage"] {
	.animate-figures {
		z-index: -1;
		position: absolute;
		width: 100vw;
		top:0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow: hidden;
		$figure-width: 595px;
		$figure-height: 453px;
		.figure-left {
			position: absolute;
			left: 0;
			width: $figure-width;
			height: $figure-height;
			margin-left: -$figure-width/2;
			top:150px;
		}
		.figure-right {
			width: $figure-width;
			height: $figure-height;
			position: absolute;
			right: 0;
			bottom: 150px;
			margin-right: -$figure-width/2;
			transform:rotate(180deg);
		}
	}
}


.info-slide {
	.info-slide-about {
		opacity: 0;
		.info-in {
			b {
				opacity: 0;
			}
			h2 {
				opacity: 0;
			}
			p {
				opacity: 0;
			}	
		}
		.info-link {
			opacity: 0;
		}
	}
	&.animated-active {
		.info-slide-about {
  			animation-name: fadeIn;
		 	animation-duration: 1s;
  			animation-fill-mode: both;
  			.info-in {
				b {
					animation-name: fadeInUp;
				 	animation-duration: 1.1s;
		  			animation-fill-mode: both;
		  			animation-delay: .5s;
				}
				h2 {
					animation-name: fadeInUp;
				 	animation-duration: 1.3s;
		  			animation-fill-mode: both;
		  			animation-delay: .6s;

				}
				p {
					animation-name: fadeInUp;
				 	animation-duration: 1.5s;
		  			animation-fill-mode: both;
		  			animation-delay: .7s;

				}	
			}
			.info-link {
				animation-name: fadeIn;
			 	animation-duration: 1.5s;
	  			animation-fill-mode: both;
	  			animation-delay: 1s;
			}
		}
	}
}