.owl-carousel {
  display: block;
}
.slider {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  .btn-slide {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    cursor: pointer;
    &.btn-slide-next {
      right: 20px;
    }
    &.btn-slide-prev {
      left: 20px;
    }
    .icon {
      position: relative;
      z-index: 1;
    }
    &::before {
      content: "";
      @include stretch;
      background: $gold;
      transform: rotate(45deg);
    }
  }
}