// Using @font-face
// Just only three file formats required
// no need to include files with svg or eot extensions
// With these three formats we have pretty good browsers support e.g.
// Chrome 3.5+, Safari 3+, Firefox 3.5+, Opera 10.1+, IE9+, Android 2.2+, iOS 4.3+

@font-face {
	font-family: 'Times';
	src: url('#{$path-fonts}/TimesNewRoman.woff2') format('woff2'),
		url('#{$path-fonts}/TimesNewRoman.woff') format('woff'),
		url('#{$path-fonts}/TimesNewRoman.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica';
	src: url('#{$path-fonts}/Helvetica-Regular.woff2') format('woff2'),
		url('#{$path-fonts}/Helvetica-Regular.woff') format('woff'),
		url('#{$path-fonts}/Helvetica-Regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}