// классы-хелперы
// **********************************************************************************

.clearfix {
  @include clearfix;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide,
.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

img {
  vertical-align: middle;
}

.img-fluid {
  @include img-responsive;
}

.img-inline {
  display: inline-block;
}

.img-circle {
  border-radius: 50%;
}
.img-responsive {
  display: block;
  max-width: 100%;
}
.img-centered {
  overflow: hidden;
  text-align: center;
  img {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    max-height: 100%;
  }
}

.content-separate {
  height: 60px;
  background: url(../images/content-separate.png) no-repeat center center;
  margin: 40px 0;
}

.text-hide       { @include text-hide; }
.text-left       { text-align: left; }
.text-right      { text-align: right; }
.text-center     { text-align: center; }
.text-justify    { text-align: justify; }
.text-nowrap     { white-space: nowrap; }

// Transformation
.text-lowercase  { text-transform: lowercase; }
.text-uppercase  { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

.fade {
  opacity: 0;
  transition: opacity .15s linear;
  &.in {
    opacity: 1;
  }
}

.text-ellipsis {
  @include text-overflow;
}

.js-text-ellipsis {
  overflow: hidden;
}

.ratio {
  position: relative;
  overflow: hidden;
  > div,
  > img {
    @include stretch;
    width: 100%;
    height: 100%;
  }
}

.column {
  float: left;
  min-height: 1px;
}

.row-alt {
  font-size: 0;
}

.column-alt {
  display: inline-block;
  vertical-align: top;
  font-size: $font-size-base;
  line-height: $line-height-base;
  float: none;
}

.bg-cover {
  background-size: cover;
  background-position: 50% 50%;
}

.vertical-align-middle-mode3 {
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
  width: 100%;
}

.vertical-align-middle-mode2 {
  display: table;
  width: 100%;
  height: 100%;
  > * {
    display: table-cell;
    vertical-align: middle;
  }
}

.vertical-align-middle {
  > * {
    display: inline-block;
    vertical-align: middle;
  }
  &::after {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: '';
  }
}
//////////////////////////////////////

.modal-logo {
  position: relative;
  text-align: center;
  margin: 25px auto;
  .logo {
    display: inline-block;
  }
}

.modal-close{
  width: 50px;
  display: inline-flex;
  height: 50px;
  position: fixed;
  right: 35px;
  top: 35px;
  align-items: center;
  justify-content: center;
  button{
    text-align: center;
    padding: 0;
    color: #dd9b3a;
    line-height: auto;
    font-size: 40px;
    transition: all .3s;
    color: #fff;
    &:hover {
      color: #dd9b3a;
    }
  }
}
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  opacity: 0;
  transition: opacity .3s ease-out;
  transform: translate(0, 8%);
}
.modal.in .modal-dialog {
  transform: translate(0, 8%);
  opacity: 1;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 1;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 5px;
  background:#dd9b3a;

}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 1200px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

// background: linear-gradient(#695f74, #bdaeb7);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#695f74', endColorstr='#bdaeb7',GradientType=0 );
