html,
body,
.wrapper {
  height: 100%;
}

body {
  	min-width: $layout-min-width + $layout-offset*2;
		background-color: #000;

		counter-reset: count;

		@media (max-width:1024px) {
			min-width:100% !important;
		}
}

.wrapper-in { // wrapper
  position: relative;
  height: 100%;
}

.content {
	overflow: hidden;
	padding-top: $header-height;
	@media (max-width:1024px) {
		padding-top: $m-header-height;
	}
}


body[data-template="mainpage"] {
	.content {
		height: calc(100% - #{$header-height});
	}
}
