a {
  color: $link-color;
  text-decoration: none;
  outline: none !important;
  transition: .2s color;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
  }

}

.link-unstyled { // ссылка без форматирования
  text-decoration: none !important;
}

.link-block { // блочная ссылка
  @extend .link-unstyled;
  display: block;
}

.link-pseudo {
  > span {
    display: inline-block;
    vertical-align: middle;
  }
}