// переменные проекта

$font-family-base: Helvetica, "Times", Arial, sans-serif !default;

$font-size-base: 14px !default;
$line-height-base: 16px !default;
$header-height: 100px;
$footer-height: 200px;
$m-header-height: 70px;