* {
    outline: none !important;
}

body {
    background: url(../images/macBg.png) repeat;
}

body > #wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

a {
    color: #005580;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#pageLockLayer {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9998;
}

#pageLockLayer.longWhile {
    display: block;
    background-color: #7d878e;
    background: url(../images/pageLockLayer.png) repeat;
}

#pageLockLayer .labelLoading {
    display: none;
}

#pageLockLayer.longWhile .labelLoading {
    display: block;
    position: fixed;
    right: 6px;
    bottom: 6px;
    z-index: 9999;
    background: #3A87AD url(../images/preloadSmall.gif) no-repeat 5px center !important;
    padding-left: 26px;
    padding-top: 4px;
    padding-bottom: 4px;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}

header .navbar {
    margin: 0;
}

#toTop {
    display: block;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 80px;
    height: 80px;
    background: #e0e0e0 url(images/to_top.png) no-repeat center center;
    cursor: pointer;
    opacity: 0.4;
    display: none;
    z-index: 999;
}

#toTop:hover {
    opacity: 0.9;
}

.___system__ {
    display: none;
}

.longWhile .clientBusy {
    opacity: 0.5;
}

.mainMenu1 {
    background-color: #000;
}

.mainMenu .brand {
    width: 180px;
    height: 20px;
    background: url(../images/adminLogo.png) 12px -8px no-repeat;
}

footer .brand {
    width: 180px;
    height: 60px;
    background: url(../images/adminLogo.png) 0px 0px no-repeat;
}

footer {
    display: block;
    clear: both;
    float: none;
}

.root-container {
    margin-top: 40px;
    min-height: 650px;
    margin-bottom: 42px;
}

footer .copyright {
    font-size: 11px;
    padding-left: 48px;
    color: #7d878e;
}

.controls .help-inline {
    display: block;
    padding: 2px 9px 2px 9px !important;
    margin: 3px 0 0 0;
    font-size: 14px;
    color: #B94A48;
    background: #fbf7f7;
    opacity: 0.7;
    float: left;
    clear: both;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}

.clear {
    float: none;
    clear: both;
}

.dropdown-menu {
    min-width: 0px !important;
}

.return-element-label {
    width: auto;
    max-width: 240px;
}

textarea {
    min-height: 160px;
}

.sectionHeader {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 0px;
}

#pageHints {
    display: none;
    position: fixed;
    right: 0px;
    top: 220px;
    align: center;
    vertical-align: middle;
    opacity: 0.1;
}

#pageHints:hover {
    opacity: 1;
}

#pageHints:after {
    content: '?';
    padding: 6px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
}

.row-fluid [class*="span"]:first-child {
    clear: both;
}

.hint-bottom {
    margin-top: -18px;
    font-size: 11.5px;
    line-height: 15.5px;
    color: #494949;
    max-width: 500px;
    margin-left: 180px;
    margin-bottom: 27px;
}

.hint-top {
    margin-bottom: 6px;
    font-size: 11.5px;
    line-height: 15.5px;
    color: #494949;
    max-width: 500px;
    margin-left: 180px;
    margin-top: 27px;
}

.hint-bottom .controls, .hint-top .controls {
    margin-left: 0 !important;
}

@media (max-width: 480px) {
    .hint-top, .hint-bottom {
        margin-left: 0 !important;
    }
}

.hint-bottom i, hint-top i {
    color: #333;
}

.userInfo {
    color: #333;
    float: right;
    font-size: 12px;
    z-index: 1001;
}

.userInfo .username {
    display: inline;
    display: inline-block;
    padding-right: 4px;
    line-height: 12px;
}

.userInfo .role {
    display: inline;
    display: inline-block;
    padding-right: 6px;
    line-height: 12px;
}

.userInfo .role:before {
    content: "(";
}

.userInfo .role:after {
    content: ")";
}

.userInfo .logout {
    text-transform: lowercase;
    line-height: 14px;
}

.userInfo img {
    margin-right: 8px;
    border-radius: 50%;
}

.page-header {
    margin: 40px 0 28px 0;
    border: none !important;
    overflow: visible;
}

.page-header p {
    margin: 0;
    padding: 8px 0 0 0;
    max-width: 600px;
}

.page-header p:first-child {
    padding-top: 18px;
}

.page-header br {
    display: none;
}

.page-header h1 {
    margin: 0 0 14px 0;
    text-decoration: underline;
}

.page-header div:first-child {
    margin-top: 36px;
}

a.editable {
    text-decoration: none !important;
}

.nav-collapse .nav .dropdown a {
    font-weight: normal;
}

.nav-collapse .nav .dropdown li.active > a {
    color: #fff;
}

.alert {
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
    display: inline-block;

    overflow: hidden;
    margin-right: 6px;
}

.alert-warning {
    background: transparent url(../images/whiteOpacity.png) repeat !important;
    color: #666;
}

.alert-error {
    background: transparent url(../images/whiteOpacity.png) repeat;
}

.alert-success {
    background: transparent url(../images/opacityGreen.png) repeat;
}

.alert-error h3 {
    margin: 0;
    font-size: 18px;
}

.alert > div {
    margin-bottom: 2px;
}

.form-horizontal hr {
    margin-bottom: 16px;
}

@media (max-width: 980px) {
    .mainMenu ul, .mainMenu li {
        margin: 0 !important;
        padding: 0 !important;
    }

    .mainMenu ul li a {
        margin: 7px 4px !important;
        padding: 0 !important;
        font-weight: 12px;
        color: #555 !important;

        background: none !important;
        box-shadow: none !important;
        outline: none;
    }

    .mainMenu ul li.active > a {
        color: #0088cc !important;
        text-decoration: underline !important;
    }

    .mainMenu ul a:hover {
        color: #0088cc !important;
        text-decoration: underline !important;
    }

    .mainMenu .dropdown > a {
        font-size: 26px;
        text-decoration: underline !important;
    }

    .mainMenu ul li:first-child {
        margin-top: 18px !important;
    }

    .mainMenu ul li:last-child {
        margin-bottom: 32px !important;
    }

    .mainMenu .brand {
        /*height:50px; background-position:12px;*/
    }
}

.sectionHeader {
    text-decoration: underline;
}

.well {
    background: transparent url(../images/whiteOpacity.png) repeat;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
}

.mceToolbar .mceIcon {
    background-color: #fff !important;
}

.mceToolbar [role="application"] {
    background: transparent url(../images/whiteOpacity.png) repeat;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
    display: inline-block;

    padding: 8px 6px 8px 6px;
}

.mceStatusbar {
    background: #f2f2f2 !important;
    opacity: 0.9;
    padding-left: 8px !important;
}

.root-container.mceRootContainer.activeExpandPlace .mceEditor.mceActive {
    background: transparent url(../images/macBg.png) repeat;
}

@media (max-width: 730px) {
    .mceButton, .mceSeparator {
        display: none !important;
    }

    .mceButton.mce_save, .mceButton.mce_bold,
    .mceButton.mce_italic, .mceButton.mce_strikethrough,
    .mceButton.mce_code, .mceButton.mce_fullscreen {
        display: block !important;
    }
}

.control-label, .control-label * {
    display: inline-block;
    color: #333;
    font-weight: bold;
}

.control-label {
    padding: 4px 6px 0px 0px;
    margin-bottom: 6px;
}

.control-label * {
    padding: 0;
    margin: 0;
}

.control-label span.required {
    display: none;
}

.control-label.required:before {
    content: "*";
    font-family: Courier, monospace;
    font-size: 28px;
    line-height: 10px;
    font-weight: bold;
    color: #C00;
    padding-right: 8px;
}

.form-actions {
    background: transparent url(../images/whiteOpacity.png) repeat;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
    display: inline-block;

    padding: 24px !important;
    margin-left: 180px;
}

@media (max-width: 480px) {
    .form-actions {
        margin-left: 0;
    }
}

.pagination ul {
    background-color: #f4f4f4;
}

input[disabled] {
    background: transparent url(../images/whiteOpacity.png) repeat;
    opacity: 0.6;
}

input[type="text"], input[type="password"], textarea, select {
    font-size: 16px;
    padding: 4px 7px;
    color: #222;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-input-placeholder {
    color: #999 !important;
}

input:-moz-placeholder {
    color: #999 !important;
}

::-moz-placeholder {
    color: #999 !important;
}

.btn-primary {
    background: #6895c1; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0JSIgc3RvcC1jb2xvcj0iIzY4OTVjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NTc3OTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #6895c1 4%, #557793 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%, #6895c1), color-stop(100%, #557793)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6895c1 4%, #557793 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6895c1 4%, #557793 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6895c1 4%, #557793 100%); /* IE10+ */
    background: linear-gradient(to bottom, #6895c1 4%, #557793 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6895c1', endColorstr='#557793', GradientType=0); /* IE6-8 */
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active {
    background: #6895c1; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzNiUiIHN0b3AtY29sb3I9IiM2ODk1YzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzA5YmJmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, #6895c1 36%, #709bbf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(36%, #6895c1), color-stop(100%, #709bbf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6895c1 36%, #709bbf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6895c1 36%, #709bbf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6895c1 36%, #709bbf 100%); /* IE10+ */
    background: linear-gradient(to bottom, #6895c1 36%, #709bbf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6895c1', endColorstr='#709bbf', GradientType=0); /* IE6-8 */
}

.btn-info {
    background: #b9cccc; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iI2I5Y2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YmIyYjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #b9cccc 2%, #9bb2b5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #b9cccc), color-stop(100%, #9bb2b5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b9cccc 2%, #9bb2b5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b9cccc 2%, #9bb2b5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b9cccc 2%, #9bb2b5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b9cccc 2%, #9bb2b5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9cccc', endColorstr='#9bb2b5', GradientType=0); /* IE6-8 */
}

.btn-info:hover, .btn-info:active, .btn-info.active {
    background: #adc8c9; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2FkYzhjOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZGM4YzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #adc8c9 1%, #adc8c9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #adc8c9), color-stop(100%, #adc8c9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #adc8c9 1%, #adc8c9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #adc8c9 1%, #adc8c9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #adc8c9 1%, #adc8c9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #adc8c9 1%, #adc8c9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#adc8c9', endColorstr='#adc8c9', GradientType=0); /* IE6-8 */

}

.label-info, .badge-info {
    background: #5f87ab !important;
    box-shadow: 1px 1px rgba(51, 76, 83, 0.3);
}

.toggle-button .labelRight {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

/**
 *-----------------
 * КОСТЫЛЬ! Временно исправляет баг, вызванный непонятной компоновкой CSS в
 * Yii Boster, из-за которого в некоторых местах подсказыи тупо  вылетели
 * (вероятно, конфилктуя со стилями jQueryUI).
 *-----------------
 **/
.tooltip {
    position: absolute !important;
    z-index: 1030 !important;
    display: block !important;
    padding: 5px !important;
    font-size: 11px !important;
    line-height: 14px !important;
    opacity: 0 !important;
    filter: alpha(opacity=0) !important;
    visibility: visible !important;
}

.tooltip.in {
    opacity: 0.8 !important;
    filter: alpha(opacity=80) !important;
}

.tooltip.top {
    margin-top: -3px !important;
}

.tooltip.right {
    margin-left: 3px !important;
}

.tooltip.bottom {
    margin-top: 3px !important;
}

.tooltip.left {
    margin-left: -3px !important;
}

.tooltip-inner {
    max-width: 200px !important;
    padding: 3px 8px !important;
    color: #ffffff !important;
    text-align: center !important;
    text-decoration: none !important;
    background-color: #000000 !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

.tooltip-arrow {
    position: absolute !important;
    width: 0 !important;
    height: 0 !important;
    border-color: transparent !important;
    border-style: solid !important;
}

.tooltip.top .tooltip-arrow {
    bottom: 0 !important;
    left: 50%;
    margin-left: -5px !important;
    border-top-color: #000000 !important;
    border-width: 5px 5px 0 !important;
}

.tooltip.right .tooltip-arrow {
    top: 50% !important;
    left: 0 !important;
    margin-top: -5px !important;
    border-right-color: #000000 !important;
    border-width: 5px 5px 5px 0 !important;
}

.tooltip.left .tooltip-arrow {
    top: 50% !important;
    right: 0 !important;
    margin-top: -5px !important;
    border-left-color: #000000 !important;
    border-width: 5px 0 5px 5px !important;
}

.tooltip.bottom .tooltip-arrow {
    top: 0 !important;
    left: 50% !important;
    margin-left: -5px !important;
    border-bottom-color: #000000 !important;
    border-width: 0 5px 5px !important;
}

.modal.fade {
    display: none;
}

/**
 *-----------------
 * КОНЕЦ КОСТЫЛЯ!
 *-----------------
 **/

.ActiveTableRoot {
    background: #f8f8f8;
    padding: 24px 0 24px 0;
}

.ActiveTableRoot {
    position: relative;
}

.ActiveTableRoot:before {
    content: ' ';
    display: block;
    position: absolute;
    left: -2000px;
    right: 100%;
    top: 0;
    bottom: 0;
    background: #f8f8f8;
}

.ActiveTableRoot:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 100%;
    right: -200px;
    top: 0;
    bottom: 0;
    background: #f8f8f8;
}

.ActiveTableRoot td > a {
    color: #0090b0;
}

.ActiveTableRoot .well {
    background: #F5F5F5 none !important;
}

.ActiveTable[groupOperations="true"] .bodyRow,
.ActiveTable[groupOperations="true"] .bodyRow .cell {
    cursor: pointer;
}

.ActiveTable .selectedRow, .ActiveTable .selectedRow .cell {
    background-color: #e0eef4;
}

.ActiveTable .groupOperationsBar {
    transition: opacity ease 0.15s;

    padding: 5px 0px 8px 18px;
    line-height: 42px;
    vertical-align: middle;
    color: #666;
}

.ActiveTable .groupOperationsBar.clientBusy {
    opacity: 0.6;
}

.ActiveTable .groupOperationsBar select {
    margin-bottom: 0px;
}

.ActiveTable .scopes a {
    transition: opacity ease 0.8s;
}

.ActiveTable .scopes a.loading {
    opacity: 0.7;
}

.ActiveTable .headRow a.loading {
    position: relative;
    overflow: visible;
}

.ActiveTable .headRow a.loading:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 100%;
    top: 0;
    margin-left: 6px;
    background: url(../images/link_loading.gif) center center no-repeat;
}