// // подвал сайта
// $footer-height: 100px; // высота подвала
// // ================================================================

.footer {
    padding-top: 30px;
    background: #fff;
    position: relative;
    z-index: 3;
    & > .container {
        @include clearfix;
        &:first-child {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include respond-to($respond-phone) {
                flex-direction: column;
            }
        }
    }
    .disclimer {
        font-family: "Times";
        background: #000;
        color: #fff;
        font-size: 20px;
        padding: 30px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        margin-top: 30px;
        @include respond-to($respond-phone) {
            font-size: 16px;
        }
        p {
            margin: 0;
        }
    }
    .footer-copyright {
        font-size: 16px;
        width: 40%;
        @include respond-to($respond-phone) {
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
        }
    }
    .footer-made_in {
        a {
            color: inherit;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .footer-logotype {
        width: 15%;
        @include respond-to($respond-phone) {
            text-align: center;
            width: 100%;
            margin-bottom: 10px;
        }
    }
    .footer-social {
        width: 20%;
        @include respond-to($respond-phone) {
            text-align: center;
            width: 100%;
            margin-bottom: 10px;
        }
        ul {
            @include list-unstyled;
            margin: 0;
            display: inline-block;
            li {
                color: $gold;
                display: inline-block;
                font-size: 25px;
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
            a {
                color: inherit;
            }
        }
    }
}

// .wrapper-in { // wrapper
//   min-height: calc(100vh - #{$footer-height});
// }
