<!-- .footer -->
<footer class="footer">
  <div class="container">
    <div class="footer-logotype">
      <a href="#"><img src="./images/logotype-dark.svg" alt=""></a>
    </div>
    <div class="footer-copyright">
      © 2017, Hennessy X.O. Все права защищены.
    </div>
    <div class="footer-social">
      <ul>
        <li><a href="#"><i class="icon icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon icon-youtube"></i></a></li>
      </ul>
    </div>
    <div class="footer-made_in">
      Сделано в <a href="#">Amphibia</a>
    </div>
  </div>
  <div class="disclimer">
    <div class="container">
      <p>Чрезмерное употребление алкоголя опасно для вашего здоровья</p>
    </div>
  </div>
</footer><!-- end .footer -->
