<section class="section section-tastes">
	<div class="container">
		<div class="tastes-promo">	
			<video>
				<source src="./video/hennessy_bottles.mp4" type="video/mp4">
				<source src="./video/hennessy_bottles.webm" type="video/webm">
			</video>
		</div>
		<div class="tastes-info-desc">
			<h1>The Hennessy X.O extraordinary tale</h1>
			<div class="desc">
				<p>In 1870, Maurice Hennessy asked the Master Blender Emile Fillioux to create a special cognac for his friends, selecting long aged eaux-de-vie to perfect the blend. They called it “X.O” for “Extra Old”. The legend was born. Hennessy X.O was thus the first X.O to be created and sold across the world. In 1947, Gérald de Geoffre, grandson of James Hennessy, created the distinc- tive and iconic carafe, with its shape inspired by the contours of an upturned cluster of grapes.</p>
				<p>A call to senses and emotions, noble, complex, and a timeless symbol of the house, Hennessy X.O has stayed the same from the day it was created, thanks to a process of meticulous blending. Its powerful and balanced structure carefully kept through time guarantees an extremely long finish, and each drop of Hennessy X.O is an invitation to awaken the senses.</p>
			</div>
		</div>
		<div class="tastes-items">
			<div class="item">
				<div class="item-img">
					<img src="./images/samples/item-img-pic01.jpg" alt="">
				</div>
				<div class="item-desc">
					<b>Растекающееся пламя</b>
					<p>Горячая волна нарастает, достигает пика и обрушивается вниз; и тут возникает всеохватывающее ощущение округлости. Крепкий и чувственный аккорд.</p>
				</div>
			</div>
			<div class="item">
				<div class="item-img">
					<img src="./images/samples/item-img-pic02.jpg" alt="">
				</div>
				<div class="item-desc">
					<b>Шоколадное затишье</b>
					<p>Постепенное возвращение к чему-то очень знакомому: округленный вкус насыщенного темного шоколада. Он мягко ласкает нёбо — шелковистый, плавный, чуть сладкий.</p>
				</div>
			</div>
			<div class="item">
				<div class="item-img">
					<img src="./images/samples/item-img-pic03.jpg" alt="">
				</div>
				<div class="item-desc">
					<b>Разливающееся тепло</b>
					<p>Теплые фруктовые тона уступают место насыщенным горячим нотам. Ощущение усиливающейся жары медленно раскрывает сложный вкус хорошо выдержанного eaux-de-vie.</p>
				</div>
			</div>
			<div class="item">
				<div class="item-img">
					<img src="./images/samples/item-img-pic04.jpg" alt="">
				</div>
				<div class="item-desc">
					<b>Насыщенность древесины</b>
					<p>Внезапное, неожиданное ощущение: энергичное ослабление и усиление дубовых нот, переплетенных с ванилью. Полный и сложный вкус, который то нарастает, то стихает.</p>
				</div>
			</div>
			<div class="item">
				<div class="item-img">
					<img src="./images/samples/item-img-pic05.jpg" alt="">
				</div>
				<div class="item-desc">
					<b>Пряные акценты</b>
					<p>Сильная пряная нота дразнит нёбо характерным перечным вкусом.</p>
				</div>
			</div>
			<div class="item">
				<div class="item-img">
					<img src="./images/samples/item-img-pic06.jpg" alt="">
				</div>
				<div class="item-desc">
					<b>Сладкие нотки</b>
					<p>Нёбо обволакивается теплом засахаренных фруктов; легкая сладость апельсина сплетается с мягкой кислинкой абрикоса.</p>
				</div>
			</div>
			<div class="item">
				<div class="item-img">
					<img src="./images/samples/item-img-pic07.jpg" alt="">
				</div>
				<div class="item-desc">
					<b>Бесконечное послевкусие</b>
					<p>Уходящие дубовые ноты оставляют долгое, тягучее послевкусие, вызывая отголоски всех предыдущих нот и ощущений и напоминая о сложном ассамбляже и долгой выдержке Hennessy X.O.</p>
				</div>
			</div>
		</div>
	</div>	
</section>