.section-tastes {
	.tastes-promo {
		margin-bottom: 60px;
		display: block;
		text-align: center;
		position: relative;
		@include respond-to($respond-phone) {
			video {
				width: 100%;
			}
		}
		.tastes-carousel-arrow {
	        position: relative;
	        width: 30px;
	        height: 30px;
	        color: #000;
	        font-size: 18px;
	        display: inline-flex;
	        align-items: center;
	        justify-content: center;
	        top: 50%;
	        z-index: 10;
	        cursor: pointer;
	        .icon {
	            position: relative;
	            z-index: 1;
	        }
	        &.tastes-carousel-next {
	            position: absolute;
	            right: 15px;
	        }
	        &.tastes-carousel-prev {
	            position: absolute;
	            left: 15px;
	        }
	        &::before {
	            content: '';
	            @include stretch;
	            background: $gold;
	            z-index: -1;
	            transform: rotate(45deg);
	        }
	    }
	}
	.tastes-info-desc {
		display: block;
		margin-bottom: 50px;
		padding: 0 130px;
		h1 {
			color: #8e734c;
			font-family: "Times";
			font-size: 48px;
			line-height: 54px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 1px;

			display: block;
			text-align: center;
			margin-bottom: 40px;
		}
		.desc {
			display: block;
			@include clearfix;
			font-size: 0;
			p {
				color: #ffffff;
				font-family: 'Helvetica';
				font-size: 16px;
				font-weight: normal;
				line-height: 20px;

				display: inline-block;
				width: 40%;
				margin:0;
				&:nth-child(2) {
					float: right;
				}
			}
		}
	}
	.tastes-items {
		display: block;
		font-size: 0;
		@include clearfix;
		.item {
			display: inline-block;
			width: 50%;
			float: left;
			margin-bottom: 40px;
			@include clearfix;
			position: relative;
			&:last-child {
				margin-left: 25%;
				@include respond-to($respond-phone) {
					margin: 0 auto;
				}
			}
			
			.item-img {
				// position: absolute;
				// left: 0;
				// top: 0;
				width: 100%;
				height: auto;
				text-align: left;
				position: relative;
				@include respond-to($respond-phone) {
					height: auto;
					position: relative;
					width: 100%;
				}
				img {
					// position: absolute;
					// left: 50%;
					// top: 50%;
					transform: translateX(-50%);
					height: auto;
					margin-left: 50%;
					display: block;
					height: 100%;
					@include respond-to($respond-phone) {
						position: static;
						margin-left: 50%;
						height: auto;
					}
				}
			}
			.item-desc {
				display: block;
				// float: right;
				position: relative;
				text-align: center;
				z-index: 1;
				width: 330px;
				margin: 0 auto;
				@include respond-to($respond-phone) {
					position: relative;
					transform: none;
					float: none;
					margin: 0 auto;
					top: 0;
					margin-top: -90px;
				}
				b {
					color: #dd9b3a;
					font-family: 'Helvetica';
					font-size: 16px;
					font-weight: 400;
					line-height: 20px;
					text-transform: uppercase;
					letter-spacing: 4px;
					display: block;
					margin-bottom: 20px;
				}	
				p {
					color: #ffffff;
					font-family: Helvetica;
					font-size: 16px;
					font-weight: 400;
					line-height: 20px;
					margin:0;
				}
			}
		}
	}
}

@media (max-width:740px) {
	.section-tastes {
		.container {
			padding: 0 !important;
		}
		.tastes-promo {
			margin: 0;
			.swiper-container {
				height: 100%;
				.swiper-slide {
					img {
						height: 100%;
						transform: translateX(-50%);
						position: relative;
						left: 50%;
					}
				}
			}
		}
		.tastes-info-desc {
			padding: 0 15px;
			margin:0;
			h1 {
				padding:0;
				margin:0 0 10px 0;
				text-align: center;
				width: 100%;
				font-size: 30px;
				line-height: 32px;
			}
			.desc {
				p {
					float: none;
					width: 100%;
					&:not(:last-child) {
						margin-bottom: 10px;
					}
				}
			}
		}
		.tastes-items {
			.item  {
				width: 100%;
				height: 300px;
			}
		}
	}
}