.m-header {
	display: none;
	height: $m-header-height;
	line-height: 65px;
	background-color: #000;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 11;
	padding: 0 15px;
	.m-logo {
		display: inline-block;
		img {
			display: inline-block;
		}
	}
	.link-menu {
		display: inline-block;
		float: right;
		span {
	    	position: relative;
    	    display: inline-block;
		    vertical-align: middle;
		    width: 30px;
		    height: 2px;
		    background: $gold;
	    	&::before,
		    &::after {
		    	content: '';
			    transition: all .2s;
			    display: inline-block;
			    height: 2px;
			    content: "";
			    background: $gold;
			    position: absolute;
			    left: 0;
			    width: 100%;
		    }
		    &::before {
			    top: -7px;
		    }
		    &::after {
				bottom: -7px;
	    	}	
	    }
	    &.open {
	    	span {
	    		background:transparent;
	    		&::before {
    			    top: 0;
				    transform: rotate(45deg);
	    		}
	    		&::after {
			    	transform: rotate(-45deg);
   	 				bottom: 0;
	    		}
	    	}
	    }
	}
	@media (max-width:1024px) {
		display: block;
	}
}
[data-template="mainpage"] {
	.link-menu {
		display: none !important;
	}
}
.m-nav {
	// display: none;
	height: calc(100vh - 70px);
	position: fixed;
	top: $m-header-height;
	width: 100%;
	left: 0;
	background-color: #000;
	z-index: 7;

	transform: translate3d(-100%,0,0);
    transition: all .4s;
	&.open {
		transform: translateY(0);
		&::before {
			opacity: 1;
			transition: opacity .6s ease-in-out;
			transition-delay: .3s;
		}
	}
	&::before {
		content:'';
		opacity: 0;
		position: absolute;
		left: 0;
		top: -95px;
		right: 0;
		bottom:0;
		background-image: url(../images/bgmenu.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	ul {
		margin:0;
		padding:0;
		font-size: 0;
		list-style: none;
		position: absolute;
		top: 50%;
		margin-top: -100px;
		height: 160px;
		left: 0;
		right: 0;
		text-align: center;
		li {
			display: block;
			text-align: center;
			&:not(:last-child) {
				margin-bottom: 45px;
			}
		}
		a {
			color: #ffffff;
			font-family: 'Helvetica';
			font-size: 24px;
			font-weight: 400;
			line-height: 20px;
		}
	}
}