<div class="m-header">
	<div class="m-logo">
		<a href="#"><img src="./images/svg/m-logo.svg" alt=""></a>
	</div>
	<div class="link-menu">
		<span></span>
	</div>
</div>

<div class="m-nav">
	<ul>
		<li><a href="#">О проекте</a></li>
		<li><a href="#">Одиссея вкусов</a></li>
		<li><a href="#">Календарь событий</a></li>
	</ul>
</div>