.interview-inside-desc {
	position: relative;
	z-index: 1;
	.inside-img-desc {
		padding: 80px 0;
		.img-desc {
			display: inline-block;
			width: 380px;
			height: 500px;
			text-align: center;
			position: relative;
			img {
				display: block;
				height: 100%;
			}
			&::before {
				content:'';
				width: 100%;
				height: calc(100% - 30px);
				position: absolute;
				top:50%;
				transform: translateY(-50%);
				left: -20px;
				border: 1px solid $gold;				
			}
		}
		.img-text {
			display: inline-block;
			width: calc(100% - 380px - 120px); // 100vw - .img-desc : width (380px) - отступ блока с текстом по дизайну (120px)
			float: right;
			b {
				color: #dd9b3a;
				font-family: 'Helvetica';
				font-size: 16px;
				font-weight: 400;
				letter-spacing: 4px;
				display: block;
				margin-bottom: 40px;
			}
			p {
				color: #ffffff;
				font-family: 'Helvetica';
				font-size: 20px;
				font-weight: 400;
				line-height: 30px;
				margin:0 0 40px 0;
			}
		}
	}
	.inside-info-desc {
		padding-left: 300px;
		padding-right: 100px;
		margin-bottom: 50px;
		.info-desc-item {
			display: block;
			counter-increment: count;
			position: relative;          
			&:not(:last-child) {
				margin-bottom: 50px;
			}
			&::before {
  				content: counter(count);
  				display: block;
  				position: absolute;
  				width: 100px;
				height: 100px;
				left: -160px;
				line-height: 100px;
				text-align: center;
				color: $gold;
				font-family: "Times";
				font-size: 48px;
				font-weight: 400;
			}
			&::after {
				content:'';
				position: absolute;
  				width: 70px;
				height: 70px;
				border: 1px solid #dd9b3a;
				left: -145px;
				top:15px;
				transform: rotate(45deg);
			}
			b {
				color:$gold;
				font-family: 'Helvetica';
				font-size: 20px;
				line-height: 24px;
				font-weight: 700;
				display: block;
				position: relative;
				padding-bottom: 20px;
				margin-bottom: 30px;
				&::after {
					content:'';
					width: 30px;
					height: 1px;
					background-color: #dd9b3a;
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
			p {
				color: #ffffff;
				font-family: 'Helvetica';
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;
				display: block;
				margin:0;
			}
		}
	}

	.inside-gallery-desc {
		display: block;
		padding-bottom:ratio(580px,1280px);

		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;

		position: relative;

		margin-bottom: 50px;

		.gallery-title {
			display: block;
			text-align: center;
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			h2 {
				color: $gold;
				font-family: 'Helvetica';
				font-size: 30px;
				font-weight: 700;
				line-height: 40px;
				position: relative;

				&::before {
					content:"";
					width: 30px;
					height: 20px;
					position: absolute;
					top: -60px;
					left: 50%;
					margin-left: -15px;
					background:url(../images/svg/quot-top.svg) 0 0 no-repeat;
				}
				&::after {
					content:"";
					width: 30px;
					height: 20px;
					position: absolute;
					bottom: -60px;
					left: 50%;
					margin-left: -15px;
					background:url(../images/svg/quot-bottom.svg) 0 0 no-repeat;
				}
			}
		}
	}

	.inside-gallery-text {
		display: block;
		margin: 50px 0;
		p {
			padding: 0 215px;

			color: #ffffff;
			font-family: 'Helvetica';
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			margin:0;
		}
	}
}
.pages-change {
	@include clearfix;
	.col {
		color: #fff;
		width: 50%;
		height: 200px;
		background-color: #222;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all .2s ease-in-out;
		&.prev {
			float: left;
		}
		&.next {
			float: right;
		}
		&:first-child {
			border-right: 1px solid #000;
		}
		&:last-child {
			border-left: 1px solid #000;
		}
		&:hover {
			background-color: #8e734c;
			.arrow {
				&::before {
					background: #000;
				}
			}
		}
	}
	.block-in {
		width: 120px;
		height: 120px;
		position: relative;
		text-align: center;
		&::before {
			content: "";
			border: 1px solid $gold;
			@include stretch;
			transform: rotate(-45deg);
			transform-origin: 60px 60px 0;
		}
		.title {
			color: $gold;
			font-size: 16px;
			letter-spacing: 4px;
			position: relative;
			top: 13px;
		}
		.desc {
			white-space: nowrap;
			font-family: "Times";
			transform: translateX(-50%);
			position: absolute;
			left: 50%;
			top: 60px;
			font-size: 30px;
			font-weight: 400;
			@include respond-to($respond-phone) {
				font-size: 17px;
			}
		}
		.arrow {
			position: absolute;
			width: 30px;
			height: 30px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			transform: translateX(-50%);
			color: #fff;
			left: 50%;
			bottom: -20px;
			font-size: 20px;
			.icon {
				position: relative;
				z-index: 1;
			}
			&::before {
				content: "";
				@include stretch;
				background: $gold;
				transform: rotate(-45deg);
				transition: all .2s ease-in-out;
			}
		}
	}
}
.portfolio-link-block {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
	background-size: cover;
	.block-in {
		width: 250px;
		height: 250px;
		position: relative;
		text-align: center;
		&::before {
			content: "";
			border: 1px solid $gold;
			@include stretch;
			transform: rotate(-45deg);
			transform-origin: 125px 125px 0;
		}
		.title {
			color: $gold;
			font-size: 20px;
			font-weight: 700;
			position: relative;
			top: 40px;
			line-height: 27px;
		}
		.desc {
			white-space: nowrap;
			font-family: "Times";
			transform: translate(-50%, -40%);
			position: absolute;
			left: 50%;
			top: 55%;
			font-size: 48px;
			line-height: 48px;
			font-weight: 400;
			@include respond-to($respond-phone) {
				font-size: 24px;
			}
		}
		.link {
			position: absolute;
			width: 80px;
			height: 80px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			transform: translateX(-50%);
			color: #000;
			left: 50%;
			bottom: -35px;
			font-size: 18px;
			&:hover {
				color: #fff;
				&::before {
					background: #000;
				}
			}
			span {
				position: relative;
				z-index: 1;
			}
			&::before {
				content: "";
				@include stretch;
				background: $gold;
				transform: rotate(-45deg);
				transition: all .2s ease-in-out;
			}
		}
	}
}
@media (max-width:740px) {
	.interview-inside-desc {
		.inside-gallery-desc {
			padding-bottom:ratio(280px,320px);
			.gallery-title {
				h2 {
					font-size: 20px;
					line-height: 20px;
					padding: 0 40px;
					&::before {
						top:-35px;
					}
					&::after {
						bottom:-45px;
					}
				}
			}
		}
		.inside-info-desc {
			margin-top: 20px;
			padding:0;
			.info-desc-item {
				border: 1px solid $gold;
				padding: 65px 15px 30px 15px;
				text-align:center;
				b {
					margin-bottom: 20px;
					&::after {
						left: 50%;
						margin-left: -15px;
					}
				}

				&::before {
					width: 50px;
					height: 50px;
					top: -50px;
					left: 50%;
					margin-left: -25px;
					z-index: 1;
					font-size: 30px;
				}
				&::after {
					width: 50px;
					height: 50px;
					left: 50%;
					margin-left: -25px;
					top:-25px;
					background-color:#000;
				}
			}
		}
		.inside-img-desc {
			padding:0;
			.img-desc {
				width: 100%;
				height: auto !important;
				img {
					width: 100%;
					height: 100%;
				}
				&::before {
					left: -15px;
				}
			}
			.img-text {
				margin-top: 20px;
				margin-bottom: 20px;
				display: block;
				width: 100%;
				text-align: center;
				float: none;
			}
		}
	}
}