.section-interview-inside {
    position: relative;
}

.interview-animate-figures {
    @media (max-width:740px) {
        display: none;
    }
    &.animate-on {
        .figure-left {
            .figure-small {
                animation-name: fadeInLeft;
                animation-duration: 1.1s;
                animation-fill-mode: both;
                animation-delay: .5s;
            }
            .figure-medium {
                animation-name: fadeInLeft;
                animation-duration: 1.1s;
                animation-fill-mode: both;
                animation-delay: 1s;
            }
            .figure-large {
                animation-name: fadeInLeft;
                animation-duration: 1.1s;
                animation-fill-mode: both;
                animation-delay: 1.5s;
            }
        }
        .figure-right {
            .figure-small {
                animation-name: fadeInRight;
                animation-duration: 1.1s;
                animation-fill-mode: both;
                animation-delay: .5s;
            }
            .figure-medium {
                animation-name: fadeInRight;
                animation-duration: 1.1s;
                animation-fill-mode: both;
                animation-delay: 1s;
            }
            .figure-large {
                animation-name: fadeInRight;
                animation-duration: 1.1s;
                animation-fill-mode: both;
                animation-delay: 1.5s;
            }
        }
    }
    .figure-left {
        position: fixed;
        left: -170px;
        width: 380px;
        transform:rotate(45deg);
        top: 130px;
        .figure {
            background-color: #2d1f0c;
            display: inline-block;
            margin:8px;
        }
        .figure-small {
            width: 120px;
            height: 120px;

            opacity: 0;
        }
        .figure-medium {
            width: 220px;
            height: 220px;

            opacity: 0;
        }
        .figure-large {
            width: 250px;
            height: 250px;
            float: right;

            opacity: 0;
        }
    }
    .figure-right {
        position: fixed;
        right: -170px;
        width: 380px;
        transform:rotate(45deg);
        top: 80px;
        .figure {
            background-color: #2d1f0c;
            display: inline-block;
            margin:8px;
        }
        .figure-small {
            width: 120px;
            height: 120px;
            vertical-align: top;

            opacity: 0;
        }
        .figure-medium {
            width: 220px;
            height: 220px;

            opacity: 0;
        }
        .figure-large {
            width: 250px;
            height: 250px;
            float: left;

            opacity: 0;
        }
    }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}