<div class="interview-inside-promo in-left" style="background-image: url('./images/samples/infopic06.jpg')">
	<div class="container">
		<div class="m-interview-inside-pic">
			<img src="./images/samples/m-interview-in.jpg" alt="">
		</div>
		<div class="interview-inside-promo-desc">
			<div class="interview-desc-in">
				<b>АСТАНА</b>
				<h2>Асхат Ахмедьяров</h2>
				<p>Когда он начинал заниматься пирсингом, проколотая бровь считалась символом революции</p>
			</div>
		</div>
	</div>
</div>