.interview-inside-promo {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1;

	background-position:  center;
	background-size: cover;
	background-repeat: no-repeat;
	
	// margin-top: -#{$header-height};

	.m-interview-inside-pic {
		display: none;
	}

	&.in-left {
		.interview-inside-promo-desc {
			left: 80px;
		}
	}
	&.in-right {
		.interview-inside-promo-desc {
			right: 80px;
		}
	}
	&::before {
		content:'';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom:0;
		background-color: rgba(0, 0, 0, 0.2);
	}
	
	.container {
		padding-bottom: ratio(580px,1280px);
		position: relative;
	}

	.interview-inside-promo-desc {
		width: 300px;
		height: 300px;
		position: absolute;
		top: 50%;
		margin-top: -150px;
		text-align: center;
		.interview-desc-in {
			height: 100%;
			width: 100%;
			position: relative;
			padding-top: 60px;

			opacity: 0;
			&::before {
				content:'';
				position: absolute;
				width: 300px;
				height: 300px;
				left: 50%;
				top: 50%;
				margin-left: -150px;
				margin-top: -150px;
				border: 2px solid #dd9b3a;
				transform: rotate(45deg);
			}
			b {
				color: #dd9b3a;
				font-family: 'Helvetica';
				font-size: 16px;
				line-height: 1;
				font-weight: 400;
				letter-spacing: 4px;
				display: block;
				margin-bottom: 10px;

				opacity: 0;
			}
			h2 {
				white-space: nowrap;
				margin-bottom: 20px;
				display: block;
				color: #ffffff;
				font-family: 'Times';
				font-size: 48px;
				font-weight: 400;
				line-height: 1;
				position: relative;
				left: 50%;
				margin-left: -100%;
				z-index: 1;

				opacity: 0;
			}
			p {
				display: block;
				color: #ffffff;
				font-family: 'Helvetica';
				font-size: 16px;
				font-weight: normal;
				line-height: 22px;
				padding:0;

				opacity: 0;
			}
		}
		&.animate-on {
  			.interview-desc-in {
  				animation-name: fadeIn;
			 	animation-duration: 1s;
	  			animation-fill-mode: both;
				b {
					animation-name: fadeInUp;
				 	animation-duration: 1.1s;
		  			animation-fill-mode: both;
		  			animation-delay: .5s;
				}
				h2 {
					animation-name: fadeInUp;
				 	animation-duration: 1.3s;
		  			animation-fill-mode: both;
		  			animation-delay: .6s;

				}
				p {
					animation-name: fadeInUp;
				 	animation-duration: 1.5s;
		  			animation-fill-mode: both;
		  			animation-delay: .7s;

				}	
			}
		}
	}
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media (max-width:740px) {
	.interview-inside-promo {
		background-image: none !important;
		margin-top: 0;
		.container {
			padding:0;
		}
		.m-interview-inside-pic {
			display: block;
			padding-bottom: ratio(280px, 375px);
			position: relative;
			img {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				height: 100%;
				display: block;
			}
		}
		.interview-inside-promo-desc {
			width:100%;
			height: auto;
			position: static;
			top: auto;
			bottom: 20px;
			margin-top: 0;
			.interview-desc-in {
				padding: 0 15px;
				margin-top: 20px;
				margin-bottom: 20px;
				&::before {
					display: none;
				}
				b {
					font-size: 14px !important;
					margin-bottom: 10px !important;
				}
				h2 {
					font-size: 30px !important;
					margin-bottom: 20px;
				}
				p {
					font-size: 16px !important;
					line-height: 20px !important;
					margin-bottom: 0 !important;
				}
			}
		}
	}
}