{% include "interview-inside/_interview-inside-promo.html" %}
<section class="section section-interview-inside">
	<div class="interview-animate-figures">
		<div class="figure-left">
			<div class="figure figure-small"></div>
			<div class="figure figure-medium"></div>
			<div class="figure figure-large"></div>
		</div>
		<div class="figure-right">
			<div class="figure figure-large"></div>
			<div class="figure figure-medium"></div>
			<div class="figure figure-small"></div>
		</div>
	</div>
	{% include "interview-inside/_interview-inside-desc.html" %}
</section>