<div class="interview-inside-desc">
	<div class="container">
		<div class="inside-img-desc">
			<div class="img-desc">
				<img src="./images/samples/inside-img-desc-pic.jpg" alt="">
			</div>
			<div class="img-text">
				<b>БИОГРАФИЯ</b>
				<p>Виктор Сырнев – член европейской Ассоциации ювелирного искусства, Заслуженный деятель культуры и Народный художник Кыргызстана.</p>
				<p>Два последних президента страны Роза Отунбаева и Алмазбек Атамбаев доверили ему создавать символы президентской власти – цепь и знак. Но не только эти работы стали гордостью мастера, его объекты заняли достойное место во многих учреждениях нашей страны, а украшения - в частных коллекциях и музеях по всему миру.</p>
			</div>
		</div>
		<div class="inside-info-desc">
			<div class="info-desc-item">
				<b>Где вы работали над проектом для “Одиссеи Hennessy”? </b>
				<p>Я работал в студии в заброшенном помещении Национального музея. </p>
			</div>
			<div class="info-desc-item">
				<b>Что вдохновляет вас более всего в вашей работе? </b>
				<p>Я нахожу вдохновение в культурном наследии Мангыстау (Западный Казахстан). Этот регион Казахстана географически относится к плато Устюрт. Там можно увидеть много величественных мест. Ландшафт, климат и тишина этого региона – всё, о чем любой художник может мечтать, когда у него “садится батарейка”.  </p>
			</div>
			<div class="info-desc-item">
				<b>Расскажите о своей работе. В чем ее суть? </b>
				<p>Концепция моей работы основана на философских размышлениях над социальными контрастами общества. Зачастую я черпаю энергию в политическом акционизме и социальном неравенстве, порожденном конфликтом в молодом постсоветском государстве, таком как Казахстан. Я изучаю и самого себя, как часть общего процесса. </p>
			</div>
			<div class="info-desc-item">
				<b>Как вы понимаете диалог между прошлым и настоящим? </b>
				<p>Меня всегда привлекал ЧЕЛОВЕК в процессе становления – в прошлом, настоящем и будущем. Его интеллектуальное и культурное наследие, конфликт традиций и меняющегося современного мира. Люди, как сообщество, которое все еще находится в гармонии с природой, но уже отделено от этого союза, перевоплощено в потребителя, брошенного бороться на стороне развивающихся технологий и урбанизации. Человек - духовный и активный потребитель материальных благ. Контраст этих противоположных начал, фронт жизни общества и служит материалом для моих исследований. </p>
			</div>
		</div>
	</div>
	<div class="inside-gallery-desc" style="background-image: url(./images/samples/desc-img-02.jpg)">
		<div class="container">
			<div class="gallery-title">
				<h2>Люди, как сообщество, которое все еще<br> 
					находится в гармонии с природой</h2>
			</div>
		</div>
	</div>
	<div class="portfolio-link-block" style="background-image: url(./images/osm-0388.jpg)">
		<div class="block-in">
			<span class="title">Посмотреть работу Асхата Ахмедьярова</span>
			<span class="desc">Наполняя пустоту</span>
			<a href="#" class="link">
				<span>Смотреть</span>
			</a>
		</div>
	</div>
	<div class="pages-change">
		<a href="#" class="col prev">
			<div class="block-in">
				<span class="title">ТАШКЕНТ</span>
				<span class="desc">Вячеслав Устинов</span>
				<span class="arrow">
					<i class="icon icon-arrow-left"></i>
				</span>
			</div>
		</a>
		<a href="#" class="col next">
			<div class="block-in">
				<span class="title">ТБИЛИСИ</span>
				<span class="desc">Роко Ирмемашвили</span>
				<span class="arrow">
					<i class="icon icon-arrow-right"></i>
				</span>
			</div>
		</a>
	</div>
</div>