.treeField{
	background:transparent url(../images/whiteStrongOpacity.png) repeat;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.treeview li .title[published="hidden"], .treeview li .title[published="draft"]{ opacity:0.4; }
.treeview li .title[published="hidden"]{ text-decoration:line-through; }

.treeview li .title:before
{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.treeview > li > span > .title{ font-size:19px; line-height:16px;  font-weight:700; }
.treeview li .title[type="module"]:before
{
    content:'m';
    display:inline-block;
    font-family:Courier New; font-size:19px; font-weight:bold; line-height:16px;
    background-color:#d59392; color:#fff;
    margin-right:4px; padding:3px 5px 1px 5px;
}
.treeview li .title[type="controller"]:before
{
    content:'c';
    display:inline-block;
    font-family:Courier New; font-size:19px; font-weight:bold; line-height:16px;
    background-color:#6dbed6;; color:#fff;
    margin-right:4px; padding:3px 5px 1px 5px;
}
.treeview li .title[type="pages"]:before
{
    content:'p';
    display:inline-block;
    font-family:Courier New; font-size:19px; font-weight:bold; line-height:16px;
    background-color:#ccc; color:#fff;
    margin-right:4px; padding:3px 5px 1px 5px;
}
.treeview li .title[type="group"]:before
{
    content:'g';
    display:inline-block;
    font-family:Courier New; font-size:19px; font-weight:bold; line-height:16px;
    background-color:#efef88; color:#fff;
    margin-right:4px; padding:3px 5px 1px 5px;
}
.treeview li .title[type="external_reference"]:before
{
    content:'a'; display:inline-block;
    font-family:Courier New; font-size:19px; font-weight:bold; line-height:16px;
	color:#fff; background-color:#c7c78f; margin-right:4px; padding:3px 5px 1px 5px;
}

ul.treeview{ padding:12px; }
.treeview, .treeview ul{ background:none !important; position:relative !important; overflow:visible; }
.treeview .hitarea{ display:inline-block !important; float:none !important; height:12px !important; }
.treeview li{ padding:0px 0 3px 16px !important; max-width:400px; text-shadow:1px 1px rgba(255,255,255,0.4); }
.treeview li > span{ display:inline-block; line-height:initial !important; padding:3px 5px 3px 5px; }
.treeview li span:hover > span > .viewPages{ opacity:0.5; }
.treeview .hover{ color:inherit !important; }
.treeview li a:hover{ text-decoration:none; }
.treeview li .edit{ opacity:0.1; }
.treeview li span:hover .edit{ opacity:0.6; }
.treeview li .edit:hover{ opacity:1 !important; }
.treeview .wrap{ position:relative; display:block; overflow:visible; }
.treeview .wrap .viewPages{
	display:block; position:absolute; margin:0 0 0 34px !important; padding:0 !important;
	left:100%; top:2px;

	color:#333 !important; opacity:0.1; vertical-align:top;
}
.treeview li .wrap .viewPages:hover{ opacity:1 !important; color:#333 !important; }
.treeview li .wrap .viewPages i{ display:inline-block; margin-right:3px; margin-top:2px !important; }
.treeview li .wrap .viewPages[data-count="0"]{ display:none !important; }

.treeview .wrap .edit{
	display:block; position:absolute; margin:0 !important; padding:0 !important;
	right:-26px; top:4px;
}

.treeview .ui-selected>span{
	/*background:transparent url(../images/whiteOpacity.png) repeat !important;*/
	background:#dfdfdf !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.treeview a, .treeview li:hover > a, .treeview a:hover{ color:#333 !important; }



#manageBar.well
{
	/*background:transparent url(../images/whiteOpacity.png) repeat;*/
	border: 1px solid #E5E5E5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
}
#manageBar h4{ display:block; margin:4px 0px 6px 0px; font-size:18px; }
#manageBar h4 i{ display:inline-block; margin-left:8px; }
#manageBar .categoryPreview,
#manageBar .categoryPages,
#manageBar .categoryEdit,
#manageBar .categoryOptions{
	display:inline-block; font-size:12px; color:#000; text-decoration:none;
	font-size:12px; opacity:0.7;
}
#manageBar .categoryPreview:hover,
#manageBar .categoryPages:hover,
#manageBar .categoryEdit:hover,
#manageBar .categoryOptions:hover{
	display:inline-block; font-size:12.5px; color:#000; text-decoration:none;
	font-size:12px; opacity:1;	
}
#manageBar .categoryImages{ margin-bottom:12px; }
#manageBar .categoryImages .categoryImage{ display:inline-block; min-width:42px; min-height:42px; }
#manageBar .categoryshort_text{ margin:0px; }
#manageBar .publishedControll{ width:auto; margin:0 8px 0 0; }
#manageBar #selectRoots{ padding:0px; margin-top:-8px; margin-bottom:12px; border:none !important; background:none !important; box-shadow:none !important; }
#manageBar .list-placeholder{ background-color:#2d6987 !important; border:none !important; height:1px !important; width:52px; max-width:52px; }

#manageBar .showPages{ display:inline; display:inline-block; border:none; padding:0px; margin:0px; background:none; }
#manageBar .categoryLinks{ margin-top:0px; margin-bottom:14px; }
#manageBar .technicalInfo{ margin-top:18px; font-size:11px; color:#777; }

#manageBar .contentPreview{ overflow:auto; margin-top:12px; }
#manageBar .contentPreview .categoryshort_text{ font-size:11px; line-height:18px; }
#manageBar .contentPreview .jspPane div,
#manageBar .contentPreview .jspPane p{ padding-right:8px; }
#manageBar .controls_a{ line-height:38px; }

.ActiveTable .positionHolder{ cursor:default; opacity:0.3; }
.ActiveTable .table[sortField="position"] .positionHolder{ cursor:move; opacity:1; }
.ActiveTable .positionPressholder{ display:table-row; position:relative; height:3px; }
.ActiveTable .positionPressholder:before
{
    display:table-cell; background-color:#a7bed7; content:'';
}
.ActiveTable .positionPressholder:after
{
    border-left: 7px solid #a7bed7;
    border-bottom: 8px solid transparent;
    border-top: 7px solid transparent;
    content: "";
    display: inline-block;
    left: -18px;
    margin-top:-6px;
    position: absolute;
}
.ActiveTable .cell[field="position"] .disabled a{ opacity:0.4; filter:Alpha(opacity=40%); cursor:default; }
.ActiveTable .cell[field="position"] .disabled:hover a{ color:inherit; background-color:inherit; }
.ActiveTable tbody{ min-height:96px; }

.bodyRow.ui-sortable-helper{
    position:relative; background-color:#F5F5F5; cursor:move !important;
}
.bodyRow.ui-sortable-helper *{ background-color:#F5F5F5; cursor:move !important; }

.bodyRow.ui-sortable-helper .cell[field="category_id"],
.bodyRow.ui-sortable-helper .cell[field="update"]{ visibility:hidden; }
.bodyRow.ui-sortable-helper .cell[field="published"]{ visibility:hidden; }
.cell[field="position"]{ width:70px !important; }

.ActiveTable .sidePagination{ z-index:9999; }
.ActiveTable.sort-active .sidePagination{ display:block !important; visibility:visible !important; opacity:1; }

.ActiveTable .categoryPath{ font-size:12px; }

.ActiveTable .headerAppend .categoriesList label{ display:block; margin-right:8px; margin-bottom:1px; cursor:pointer; }
.ActiveTable .headerAppend .categoriesList input{ margin:-2px 3px 0px 0px; }
.ActiveTable .headerAppend .arrow{ margin:0px 8px 0px 0px; font-size: 18px; }
.categoriesList{ margin-bottom:24px; }

.mtmselect .items{ max-width:100% !important; }


#logicSection
{
	background:#f5f5f5;
	border: 1px solid #E5E5E5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	display:inline-block;
	
	margin-top:32px; padding:0 24px 0 0;
}
#logicSection .sectionHeader{
	line-height:18px; vertical-align:middle;
	text-decoration:underline; cursor:pointer;
}
@media(max-width:550px) {
	#logicSection{ background:none !important; border:none !important; box-shadow:none; }
}

#logicSection .sectionHeader i{
	display:inline-block; margin-right:8px;
	vertical-align:1px;
}
#logicSection .description{ margin-top:8px; font-style:italic; }
#logicSection .sectionContent{ display:none; }
#logicSection.open .sectionContent{ display:block; }

#logicSection select{ min-width:280px; }

#logicSection .hint-top{ max-width:370px; }

@media (max-width: 720px){
    #logicSection{ width:auto !important; }
}

h2.category_name{ font-size:20px; line-height:20px; font-weight:normal; }
h2.category_name a{ font-size:24px; line-height:24px; font-weight:bold; color:#333; text-decoration:underline; }

a.editable{ text-decoration:none !important; }

#leftColumn{ min-height:350px; }
#leftColumn #sidebar{ }
@media (max-width: 767px) {
	#sidebar section div{ display:inline-block; }
	#sidebar section a{ padding-right:10px; }
	#sidebar section .categoryLinks{ margin-bottom:4px; }
	#sidebar section .controls_a{ display:block; margin-right:0; line-height:36px; }
	#sidebar .contentPreview{ display:none; }
	#sidebar .technicalInfo{ display:none; }
	#sidebar #manageBar{ padding:12px 18px 0 18p; }
	#sidebar hr{ margin:8px 0 !important; }
}

#pageLockLayer:before{
	display:block; position:absolute; content:' ';
	left:3px; bottom:3px; width:8px; height:8px; background-color:#ff0000;

	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
}

#optionsPage{ position:relative; }
#optionsPage .unexistsSection
{
	margin-top:48px;
	padding:24px;
	
	background:transparent url(../images/whiteOpacity.png) repeat;
	border: 1px solid #E5E5E5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	display:inline-block;
}

#optionsPage .page-header div:first-child { margin-top:0px; font-size:28px; }

#optionsPage .context{
	display:inline-block; vertical-align:top; 
	margin:18px 0 18px 0;
}
#optionsPage .context li{ display:inline-block; vertical-align:top; }
#optionsPage .context li a{
	display:inline-block;
	margin:8px 28px 8px 0; padding:0 0 0 36px; height:52px;

	color:#333; font-size:16px; text-align:left; text-decoration:underline; font-weight:bold;
	vertical-align:top;
}
#optionsPage .context li a:hover,
#optionsPage .context li.active a{
	cursor:pointer; text-decoration:none; color:#333; opacity:0.5;
}
#optionsPage .context li a{
	
}

#optionsPage .context .self a{ width:120px; background:url(../images/icons/self.png) left top no-repeat; }
#optionsPage .context .children a{ width:175px; background:url(../images/icons/children.png) left top no-repeat; }
#optionsPage .context .pages a{ background:url(../images/icons/pages.png) left top no-repeat; }

@media (max-width: 665px) {
	#optionsPage .context li{ display:block; }
}

#optionsPage #commonSection
{
    background: #f5f5f5;
	/*background:transparent url(../images/whiteOpacity.png) repeat;*/
	border: 1px solid #E5E5E5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .20);
	display:inline-block;
	
	margin-top:48px; padding:0 24px 0 0;
}
@media (min-width: 985px) {
	#optionsPage #commonSection{ position:absolute; right:48px; }
}
@media(max-width:550px) {
	#optionsPage #commonSection{ background:none !important; border:none !important; box-shadow:none; }
}
#optionsPage #commonSection .sectionHeader{ margin-top:16px; }
#optionsPage .fieldDescription .line{ margin:6px 0 12px 0; }

#optionsPage [attr="custom_fields"] > label{ display:none; }

textarea{ resize:vertical; max-height:450px; }
textarea.contentText{ min-height:100px; }
textarea.textarea512{ min-height:90px; max-height:250px; resize:vertical; }

.selectedTags{ margin-bottom:8px; }


