#video-player {
	width: 100%;
	height: calc(100vh - #{($header-height * 2)});
	max-height: 600px;
	border: none;
	.video-modal {	
		width: 100%;
		height: 100%;
	}
	.block-in {
		position: relative;
		height: 100%;
		background: #000;
	}
}