<div id="video-player">
	<div class="block-in">
			<video class="video-modal" id="video" controls>
				<source src="video/video.mp4" type="video/mp4">
				<source src="video/video.webm" type="video/webm">
			</video>
	</div>
</div>