.section-index-select {
	display: block;
	height: 100%;
	margin-top: -#{$header-height};
	.index-select-title {
		display: block;
		text-align: center;
		margin-bottom: 60px;
		margin-top: 50px;
		h2 {
			color: #ffffff;
			font-family: 'Helvetica';
			font-size: 24px;
			font-weight: 400;
			line-height: 38px;
			text-transform: uppercase;
			letter-spacing: 4px;
		}
	}
	.index-select-items {
		display: block;
		text-align: center;
		.slect-item {
			display: block;
			margin:10px auto;
			width: 320px;
			.selectric {
				height: 60px;
				background:#000;
				border: 2px solid $gold;
				padding:0;
				span {
					color: $gold;
					font-family: 'Helvetica';
					font-size: 16px;
					font-weight: 400;
					letter-spacing: 4px;
					margin:0;
					padding:0;
					line-height: 60px;
				}
				.button {
					height: 100%;
					&::before {
						content:'';
						background:url(../images/arrow-select.png) 0 0 no-repeat;
						position: absolute;
					    margin: auto;
					    width: 19px;
					    height: 12px;
					    top: 50%;
					    margin-top: -6px;
					    right: 20px;
					}
					&::after {
						font-size: 0;
						display: none;
					}
				}
			}
			.selectric-items {
				margin-top: 10px;
				background:#000;
				border: 1px solid $gold;
				.selectric-scroll {
					height: 230px;
					ul {
						padding-left: 0;
						margin-left: 20px;
						margin-top: 5px;
						padding-bottom: 5px;
					}
					li {
						color: $gold;
						display: block;
						text-align: left;
						font-family: 'Helvetica';
						font-size: 16px;
						font-weight: 400;
						letter-spacing: 4px;
						padding:12px 0;
						transition: all .3s;
						&:hover {
							background:transparent;
							color: #fff;
						}
						&.selected {
							background:transparent;
							color: #fff;
						}
					}
					li[data-index="0"] {
						display: none;
					}

				}
				.mCSB_scrollTools .mCSB_draggerContainer {
					top: 20px;
					bottom: 20px;
					right: 20px;
				}
				.mCSB_dragger {
					height: 60px !important;
					width: 3px !important;
				}
				.mCSB_dragger_bar {
					width: 3px;
					height: 60px;
					background-color: #8e734c;
				}
				.mCSB_draggerRail {
					background-color: #1e1e1e;
					width: 3px;
				}
			}
		}
		.select-success-btn {
			display: block;
			margin:20px auto;
			width: 320px;
			.btn-success {
				height: 60px;
				display: inline-block;
				width: 100%;
				color: #ffffff;
				font-family: 'Helvetica';
				font-size: 16px;
				font-weight: 400;
				letter-spacing: 4px;
				background-color: #dd9b3a;
			}
		}
		.prediction {
			display: block;
			text-align: center;
			p {
				display: block;
				padding:0;
				margin:0;
				color: #808080;
				font-family: 'Helvetica';
				font-size: 12px;
				font-weight: 400;
				a {
					color: #d4892d;
					margin-left: 5px;
					margin-right: 5px;
				}
			}
		}
	}
	.index-select-footer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 20px;
		text-align: center;
		small {
			display: block;
			opacity: 0.25;
			color: #ffffff;
			font-family: Helvetica;
			font-size: 12px;
			font-weight: 400;
		}
	}
}

@media (max-width:740px) {
	body[data-template="mainpage"] {
		.content {
			height: auto !important;
		}
	}
	.animate-figures {
		display: none;
	}
	.section-index-select {
		margin-top: 0;
		.container {
			padding: 0 15px;
		}
		.index-select-title {
			margin:20px 0;
			h2 {
				font-size: 18px;
				line-height: 26px;
				text-transform: uppercase;
				letter-spacing: 3px;
			}
		}
		.index-select-items {
			.slect-item {
				width: 100%;
			}
			.select-success-btn {
				width: 100%;
			}
		}
		.index-select-footer {
			position: static;
			margin-top: 15px;
		}
	}
}