.mtmselect{ position:relative; }

.mtmselect a{ outline:none !important; }
.mtmselect .items{ display:inline-block; clear:right; min-width:60px; max-width:450px; width:auto; white-space:normal; height:auto; min-height:18px; margin-bottom:3px; }
.mtmselect .items:empty{ display:none; }
.mtmselect .items .mtmitem{ display:inline-block; font-size: 13px; padding:2px 5px 4px 5px; font-weight:normal; margin-bottom:3px; margin-right:4px; }
.mtmselect.sortable .mtmitem{ cursor:move; }
.mtmselect .items .mtmitem .tabSymbol{ display:none; }
.mtmselect .placeholder{ display:inline; background-color:#24748c; padding:2px; margin-right:4px; height:3px; !important;  }
.mtmselect .remove-item{ margin-left: 4px; cursor:pointer; }

.mtmselect .mtm-menu
{
/*
    -webkit-transition-property: height;
    -moz-transition-property: height;
    -o-transition-property: height;
    -ms-transition-property: height;
    transition-property: height;

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    transition-timing-function: ease;
*/    
    overflow:hidden;

    padding-bottom:12px;
}

.mtmselect .mtm-menu[max-page="0"] .up{ display:none; }
.mtmselect .mtm-menu[max-page="0"] .down{ display:none; }
.mtmselect .disabled, .mtmselect .disabled a{ cursor:default; background-color:inherit; }
.mtmselect .mtm-menu-item.disabled:hover a{ background-color:inherit; }
.mtmselect .mtm-menu-item.disabled a{ color:#ccc; cursor:default; }
.mtmselect .disabled:hover a:hover,
.mtmselect .disabled a:hover,
.mtmselect .disabled:hover a
{ background:inherit !important; }
.mtmselect .disabled .icon{ opacity:0.4; }


.mtmselect .searchBlock{ display:block; position:relative; overflow:hidden; padding:3px 15px 3px 0px; margin:12px 0px 6px 0px; min-width:220px; }
.mtmselect .searchBlock:hover{ }
.mtmselect .searchBlock input{
    border-left:none; border-right:none; border-radius:0px; width:140px; margin-left:0px;
}

.mtmselect .mtm-menu .searchBlock .loading{
    opacity:0; filter:Aplha(opacity=0);
    display:block; position:absolute; right:14px; top:4px; width:72px; height:124px;
    background:url(images/loader.gif) right top no-repeat #fff;
    background-origin:content-box;
    padding: 4px;
    
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    transition-timing-function: ease;

    -webkit-transition-delay:1s;
    -moz-transition-delay:1s;
    -o-transition-delay:1s;
    -ms-transition-delay:1s;
    transition-delay:1s;    
}
.mtmselect .mtm-menu.clientBusy .searchBlock .loading{
    font-style:italic; opacity:0.6;
}

.mtmselect .searchBlock input:not([value]),
.mtmselect .searchBlock input[value=""]
{
    width:0px;
    -webkit-transition-property: width, margin-left;
    -moz-transition-property: width, margin-left;
    -o-transition-property: width, margin-left;
    -ms-transition-property: width, margin-left;
    transition-property: width, margin-left;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    transition-timing-function: ease;

    -webkit-transition-delay:0.25s;
    -moz-transition-delay:0.25s;
    -o-transition-delay:0.25s;
    -ms-transition-delay:0.25s;
    transition-delay:0.25s;
    
    margin-left:-10px;
}
.mtmselect .searchBlock:hover input,
.mtmselect .searchBlock input:focus{ width:140px; margin-left:0px;  }
.mtmselect .mtm-menu .searchBlock button{ background:#fff; }