$space: 7px;
.diamond-grid__centered {
    text-align: center;
}
.diamond-grid {
    display: inline-block;
    transform: rotate(45deg);
    padding: 100px 0;
    @include respond-to($respond-phone) {
        transform: rotate(0);
        padding: 30px 0;
        width: 100%;
    }
    .card-items {
        display: flex;
        @include respond-to($respond-phone) {
            width: 100%;
        }
        &:nth-child(1) {
            padding-left: 100px;
            @include respond-to($respond-phone) {
                padding-left: 0;
            }
            .card-item {
                align-self: flex-end;
            }
        }
        &:nth-child(2) {
            align-items: flex-end;
        }
    }
    .card-item {
        background: #d8d8d8;
        position: relative;
        display: inline-flex;
        margin: $space;
        overflow: hidden;
        &:hover {
            .box {
                opacity: 1;
            }
        }
        .box {
            @include stretch(-25%, -25%,-25%, -25%);
            opacity: 0;
            transition: opacity .2s ease-in-out;
            background: rgba($gold, 0.4);
            transform: rotate(-45deg);
            display: flex;
            z-index: 2;
            align-items: center;
            justify-content: center;
            color: #fff;
            .box-in {
                width: 100%;
            }
            .box-title {
                font-size: 28px;
                font-family: "Times";
                display: block;
                margin-bottom: 10px;
            }
        }
        @include respond-to($respond-phone) {
            width: 100% !important;
            height: auto !important;
            padding-bottom: ratio(100px, 250px)
        }
        .pic-item {
            @include stretch(-25%, -25%,-25%, -25%);
            background-repeat: no-repeat;
            background-position: center;
            transform: rotate(-45deg);
            background-size: 100%;
            @include respond-to($respond-phone) {
                @include stretch(0, 0,0, 0);
                transform: rotate(0);
            }
        }
        &:hover {
            &:not(.card-item__clear) {
                cursor: pointer;
                border: 2px solid $gold;
                box-shadow: 10px 10px 0px -7px $gold;
            }
        }
        &.card-item__medium {
            width: 180px;
            height: 180px;
        }
        &.card-item__medium-1 {
            width: 200px;
            height: 200px;
        }
        &.card-item__medium-2 {
            width: 215px;
            height: 215px;
        }
        &.card-item__large {
            width: 250px;
            height: 250px;
        }   
        &.card-item__clear {
            width: 60px;
            height: 60px;
            background: linear-gradient(135deg, rgba(230,192,110,1) 13%,rgba(230,192,110,0.01) 88%,rgba(211,176,101,0) 89%,rgba(0,0,0,0) 100%);
            @include respond-to($respond-phone) {
                display: none;
            }
        } 
    }
    .card-item__group {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 180px;
        margin: 0 $space;
        @include respond-to($respond-phone) {
            display: none;
        }
        .card-item  {
            margin: $space 0;
        }
    }
}