<div class="statistic-item">
    <div class="statistic-item-in">
        <div class="statistic-num">
            {{statistic.num}}
        </div>
        <div class="statistic-text">
            {{statistic.text}}
        </div>
    </div>
</div>