

.statistic-item {
    position: relative;
    display: inline-block;
    margin: 40px;
    .small & {
        width: 80px;
        height: 80px;
    }
    &::before {
        content: "";
        @include stretch;
        border: 1px solid $gold;
        transform: rotate(45deg);
    }
    &-in {
        @include stretch;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        .statistic-text {
            position: absolute;
            top: calc(100% - 10px);
            text-align: center;
        }
        .statistic-num {
            color: $gold;
            font-size: 48px;
            font-weight: 700;
        }
    }
}
.statistic-list {
    display: inline-block;
    margin: 20px 0;
}