.commentsBlock h4{ margin:0 0 2px 0; padding:0; }
.commentsBlock form .error{
	outline:none;
	box-shadow: inset 0px 0px 50px 0px #FFF7F7,0px 0px 17px -2px #FFEBEB;
	-webkit-box-shadow: inset 0px 0px 50px 0px #FFF7F7,0px 0px 17px -2px #FFEBEB;
	-moz-box-shadow: inset 0px 0px 50px 0px #FFF7F7,0px 0px 17px -2px #FFEBEB;
	-o-box-shadow: inset 0px 0px 50px 0px #FFF7F7,0px 0px 17px -2px #FFEBEB;
}
.commentsBlock form *:invalid{ outline:none; box-shadow:none; }
.commentsBlock form textarea{ resize:none; min-height:80px; }
.commentItem, .commentItem form{ overflow:visible; }
.commentsBlock .commentItem{
	border-top:1px solid #666; margin:8px 0 8px 0; padding:8px 0 8px 0;
}
.commentItem[level="2"]{ margin-left:24px; }
.commentItem[level="3"]{ margin-left:36px; }
.commentItem[level="4"]{ margin-left:48px; }
.commentItem[level="5"]{ margin-left:56px; }
.commentItem[level="5"]{ margin-left:60px; }
.commentItem[level="6"]{ margin-left:64px; }
.commentItem[level="7"]{ margin-left:66px; }
.commentItem[level="8"]{ margin-left:68px; }
.commentItem[level="9"]{ margin-left:69px; }
.commentItem[level="10"]{ margin-left:70px; }
