<div class="info-slide" style="background-image: url({{item.img}})">
	<div class="container">
		<div class="m-info-slide-img">
			<img src="{{item.mimg}}" alt="">
		</div>
		<div class="info-slide-about">
			<div class="info-in">
				<b>{{item.city}}</b>
				<h2>{{item.title}}</h2>
				<p>{{item.desc}}</p>
			</div>
			<div class="info-link">
				<a href="#" class="link-more">Читать</a>
			</div>
		</div>
	</div>
</div>