.section-info-slides {
	display: block;
	.info-slide {
		height: 600px;
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		// background-attachment: fixed;
		position: relative;
		&::before {
			content:'';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom:0;
			background-color: rgba(0, 0, 0, 0.2);
		}
		.container {
			height: 100%;
			position: relative;
		}
		.m-info-slide-img {
			display: none;
		}
		.info-slide-about {
			width: 300px;
			height: 300px;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -150px;
			text-align: center;
			.info-in {
				height: 100%;
				width: 100%;
				position: relative;
				padding-top: 40px;
				&::before {
					content:'';
					position: absolute;
					width: 300px;
					height: 300px;
					left: 50%;
					top: 50%;
					margin-left: -150px;
					margin-top: -150px;
					border: 2px solid #dd9b3a;
					transform: rotate(45deg);
				}
			}
			b {
				color: #dd9b3a;
				font-family: 'Helvetica';
				font-size: 16px;
				line-height: 1;
				font-weight: 400;
				letter-spacing: 4px;
				display: block;
				margin-bottom: 10px;
			}
			h2 {
				white-space: nowrap;
				margin-bottom: 20px;
				display: block;
				color: #ffffff;
				font-family: 'Times';
				font-size: 48px;
				font-weight: 400;
				line-height: 1;
				position: relative;
				z-index: 1;
				left: 50%;
				margin-left: -100%;
			}
			p {
				display: block;
				color: #ffffff;
				font-family: 'Helvetica';
				font-size: 16px;
				font-weight: normal;
				line-height: 22px;
				padding:0;
			}
			.info-link {
				text-align: center;
				width: 100px;
				height: 100px;
				position: relative;
				left: 50%;
				margin-left: -50px;
				bottom: 60px;
				.link-more {
					width: 100%;
					height: 100%;
					line-height: 100px;
					bottom: 0;
					z-index: 3;
					color: #000000;
					font-family: 'Helvetica';
					font-size: 18px;
					font-weight: 400;
   		 			display: block;
   		 			position: relative;

   		 			transition-duration: 0.5s;
				    transition-property: color, background-color;
				}
				&::after {
					content:'';
					position: absolute;
					top: 0;
					width: 100px;
					height: 100px;
					background: #dd9b3a;
					left: 50%;
					margin-left: -50px;
					z-index: 1;
					transform: perspective(1px) translateZ(0) rotate(45deg);
					transition-duration: 0.5s;
				    transition-property: color, background-color;

				    // transform: scaleY(1);
				    // transform-origin: 50% 100%;
				    // transition-property: transform;
				    // transition-duration: 0.3s;
				    // transition-timing-function: ease-out;
				}
				&:hover {
					.link-more {
						color: #dd9b3a;
					}
				 	&::after {
						background: #fff;
				 	}
				}
			}
		}
		&:nth-child(2n) {
			.info-slide-about {
				right: auto;
				left: 0;
				.info-link {
					&:hover {
					 	&::after {
							background: #000;
					 	}
					}
				}
			}
		}
	}
}

@media (max-width:740px) {
	.section-info-slides {
		.info-slide {
			background-image: none !important;
			height: auto !important;
			.container {
				padding: 0;
			}
			.m-info-slide-img {
				display: block;
				height: 280px;
				img {
					height: 100%;
					display: block;
					position: relative;
					transform: translateX(-50%);
					left: 50%;
				}
			}
		}
		.info-slide-about {
			position: relative !important;
			margin-top:0 !important;
			width: 100% !important;
			height: auto !important;
			padding-bottom: 25px;
			.info-in {
				padding: 15px 15px 15px 15px !important;
				height: auto !important;
				position: static;
				&::before {
					display: none;
				}
				&::after {
					content:'';
					width: 100%;
					height: 300px;
					background-image: url(../images/svg/squares.svg);
					background-repeat: no-repeat;
					position: absolute;
					top: 0;
					right: -45px;
				}
				b {
					font-size: 14px !important;
					margin-bottom: 10px !important;
				}
				h2 {
					font-size: 30px !important;
					margin-bottom: 20px;
				}
				p {
					font-size: 16px !important;
					line-height: 20px !important;
					margin-bottom: 10px !important;
				}
			}
			.info-link {
				width: 50px !important;
				height: 50px !important;
				margin-left: -25px !important;
				transform:rotate(45deg) !important;
				background-color:#dd9b3a;
				bottom: 0 !important;
				&::after {
					display: none;
				}
				.link-more {
					font-size: 0 !important;
					background-image: url(../images/svg/arrow-for-mobile-btn.svg);
					background-repeat: no-repeat;
					background-position: center;
					transform:rotate(-45deg) !important;
				}
			}
		}
	}
}