
<div class="event-item">
    <div class="event-date">
        <div class="event-date_in">
            <span>28</span>
            октября
        </div>
    </div>
    <div class="event-desc">
        <div class="country">Казахстан</div>
        <div class="title">
            Презентация the Silk Road Odyssey в Астане
        </div>
        <a href="#">Смотреть</a>
    </div>
</div>