.event-item {
    padding-left: 240px;
    position: relative;
    min-height: 200px;
    margin-bottom: 100px;
    margin-left: 100px;
    @include respond-to($respond-phone) {
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 40px;
        padding-bottom: 40px;
        &:not(:last-child) {
            border-bottom: 1px solid #8C8C8C;
        }
    }
    .event-date {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        height: 160px;
        position: absolute;
        text-transform: uppercase;
        color: $gold;
        font-size: 16px;
        letter-spacing: 4px;
        left: 0;
        margin: 10px 0 0 10px;
        @include respond-to($respond-phone) {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 115px;
            height: 115px;
            font-size: 9px;
            margin-bottom: 25px;
            margin-left: 0;
        }
        span {
            font-family: "Times";
            font-size: 48px;
            display: block;
            line-height: 55px;
            text-align: center;
            @include respond-to($respond-phone) {
                font-size: 48px;
                
            }
        }
        &::before {
            content: "";
            @include stretch;
            border: 1px solid $gold;
            transform: rotate(-45deg);
            // transform-origin: 0 0 0;
        }
    }
    .event-desc {
        .country {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-transform: uppercase;
            letter-spacing: 4px;
            color: $gold;
        }
        .title {
            font-family: "Times";
            font-size: 48px;
            line-height: 52px;
            width: 70%;
            color: #fff;
            margin: 20px 0;
            @include respond-to($respond-phone) {
                width: 100%;
                font-size: 24px;
                margin: 0;
            }
        }
        a {
            color: $gold;
            text-decoration: underline;
            font-size: 18px;
            &:hover {
                text-decoration: none;
            }
        }
    }
}