.events.inside {
    .content-in {
        max-width: 800px;
        margin: 0 auto 60px;
        color: #fff;
        text-align: center;
    }
    .title-date {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-bottom: 30px;
        color: $gold;
    }
    h3 {
        font-family: "Times";
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 30px;
        line-height: 35px;
    }
    p {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 20px;
    }
    .img-block {
        margin-bottom: 50px;
    }
    .video-block {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        margin-bottom: 30px;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}