<!-- nav-main -->
<nav class="nav-main">
	<div class="container">
	  <ul class="list-inline">
	    <li{%if page == 'main' %} class="active"{% endif %}>
	      <a href="index.html">Главная</a>
	    </li>
	    <li{%if page == 'about' %} class="active"{% endif %}>
	      <a href="about.html">О компании</a>
	    </li>
	  </ul>
	</div>
</nav><!-- end nav-main -->
