<!-- О компании -->
{% set title = "О компании" %}
{% set page = "about" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<section class="about">
  <div class="promo-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <img class="img-title" src="./images/svg/words.svg">
            <p>
              Hennessy X.O и National Geographic воплощают легендарный Шелковый Путь и его культурное величие в уникальной Одиссее, пересекающей 7 стран самого древнего маршрута в мире.
            </p>
            <p>
              Семь художников из семи стран, расположившихся на древнем пути, приняли приглашение написать личную Одиссею вкуса Hennessy X.O. Гости приглашаются погрузиться в художественные искания по следам художников и найти свою интерпретацию Hennessy X.O.
            </p>
        </div>
        <div class="col-lg-7">
          <div class="about-map">
              <img src="./images/samples/about-map.png" alt="">
          </div>
        </div>
      </div>
      <div class="text-center">
        <div class="statistic-list small">
          {% set statisticList = [
            {
              num: '7',
              text: 'Стран'
            },
            {
              num: '7',
              text: 'Городов'
            },
            {
              num: '7',
              text: 'Современных художников'
            },
            {
              num: '7',
              text: 'Произведений искусства'
            },
            {
              num: '7',
              text: 'Глав удивительной одиссеи шелкового пути'
            }
          ]%}
  
          {% for statistic in statisticList %}
            {% include 'statistic-item/_statistic-item.html' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <div class="titles-block">
              <div class="text-center">
                <h1 class="content-title">Одиссея началась в Коньяке</h1>
                <h2 class="content-subtitle">Приглашенные на родину Hennessy, 7 художников проекта the Silk Road Odyssey открыли для себя мастерство и тонкости производства Hennessy X.O через 7 граней его вкуса.</h2>
              </div>
          </div>
        </div>
      </div>
      <div class="carousel-block">
        <div class="row">
          <div class="col-lg-6">
            <p>
                Путешествие началось в городе Коньяк. Семь художников проекта были приглашены на родину Hennessy X.O, чтобы ощутить все оттенки вкуса во время дегустаций. Там художники познали экспертизу бережного процесса производства, который чувствуется в каждой капле Hennessy X.O. Двухдневная поездка наполнила творцов вдохновением, которое позволило создать уникальные произведения искусства в соответствии с мастерством Hennessy и пережитого художниками личного опыта.
            </p>
          </div>
          <div class="col-lg-6">
            <div class="promo-carousel">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="./images/samples/pic-about-01.jpg" alt="" class="img-fluid">
                  </div>
                  <div class="swiper-slide">
                      <img src="./images/samples/pic-about-01.jpg" alt="" class="img-fluid">
                    </div>
                </div>
              </div>
              <div class="promo-carousel-arrow promo-carousel-next">
                <i class="icon icon-arrow-right"></i>
              </div>
              <div class="promo-carousel-arrow promo-carousel-prev">
                  <i class="icon icon-arrow-left"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <h1 class="content-title text-center">Одиссея началась в Коньяке</h1>
      <br>
      <div class="carousel-block">
        <div class="row">
          <div class="col-lg-6">
            <div class="promo-carousel">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="./images/samples/pic-about-01.jpg" alt="" class="img-fluid">
                  </div>
                  <div class="swiper-slide">
                      <img src="./images/samples/pic-about-01.jpg" alt="" class="img-fluid">
                    </div>
                </div>
              </div>
              <div class="promo-carousel-arrow promo-carousel-next">
                <i class="icon icon-arrow-right"></i>
              </div>
              <div class="promo-carousel-arrow promo-carousel-prev">
                <i class="icon icon-arrow-left"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <p>
                Путешествие началось в городе Коньяк. Семь художников проекта были приглашены на родину Hennessy X.O, чтобы ощутить все оттенки вкуса во время дегустаций. Там художники познали экспертизу бережного процесса производства, который чувствуется в каждой капле Hennessy X.O. Двухдневная поездка наполнила творцов вдохновением, которое позволило создать уникальные произведения искусства в соответствии с мастерством Hennessy и пережитого художниками личного опыта.
            </p>
          </div>
        </div>
      </div>
      <div class="container">
          <h1 class="content-title text-center">Одиссея началась в Коньяке</h1>
      </div>
      <div class="diamond-grid__centered">
        <div class="diamond-grid">
          <div class="card-items">
            <div class="card-item card-item__medium-1">
              <div class="pic-item" style="background-image: url(http://lorempixel.com/300/300)"></div>
              <a href="#" class="box">
                <div class="box-in">
                  <span class="box-title">Бурсак Бингол</span>
                  <span class="box-desc">СТАМБУЛ</span>
                </div>
              </a>
            </div>
            <div class="card-item card-item__medium-2">
              <div class="pic-item" style="background-image: url(http://lorempixel.com/330/330)"></div>
              <a href="#" class="box">
                <div class="box-in">
                  <span class="box-title">Бурсак Бингол</span>
                  <span class="box-desc">СТАМБУЛ</span>
                </div>
              </a>
            </div>
            <div class="card-item card-item__clear"></div>
          </div>
          <div class="card-items">
            <div class="card-item__group">
              <div class="card-item card-item__clear"></div>
              <div class="card-item card-item__medium">
                <div class="pic-item" style="background-image: url(http://lorempixel.com/310/310)"></div>
                <a href="#" class="box">
                  <div class="box-in">
                    <span class="box-title">Бурсак Бингол</span>
                    <span class="box-desc">СТАМБУЛ</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="card-item card-item__large">
              <div class="pic-item" style="background-image: url(http://lorempixel.com/350/350)"></div>
              <a href="#" class="box">
                <div class="box-in">
                  <span class="box-title">Бурсак Бингол</span>
                  <span class="box-desc">СТАМБУЛ</span>
                </div>
              </a>
            </div>
            <div class="card-item card-item__large">
                <div class="pic-item" style="background-image: url(http://lorempixel.com/355/355)"></div>
                <a href="#" class="box">
                  <div class="box-in">
                    <span class="box-title">Бурсак Бингол</span>
                    <span class="box-desc">СТАМБУЛ</span>
                  </div>
                </a>
            </div>
          </div>
          <div class="card-items">
            <div class="card-item card-item__large">
              <div class="pic-item" style="background-image: url(http://lorempixel.com/360/360)"></div>
              <a href="#" class="box">
                <div class="box-in">
                  <span class="box-title">Бурсак Бингол</span>
                  <span class="box-desc">СТАМБУЛ</span>
                </div>
              </a>
            </div>
            <div class="card-item card-item__medium">
              <div class="pic-item" style="background-image: url(http://lorempixel.com/305/305)"></div>
              <a href="#" class="box">
                <div class="box-in">
                  <span class="box-title">Бурсак Бингол</span>
                  <span class="box-desc">СТАМБУЛ</span>
                </div>
              </a>
            </div>
            <div class="card-item card-item__clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
