<!-- Главная страница -->
{% set title = "Событие" %}
{% set page = "events-inside" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<div class="events inside">
    <div class="container">
        <div class="content-in">
            <div class="title-date">28 октября</div>
            <h3>Презентация the Silk Road Odyssey в Астане</h3>
            <p>Виктор Сырнев – член европейской Ассоциации ювелирного искусства, Заслуженный деятель культуры и Народный художник Кыргызстана. </p>
            <p>Два последних президента страны Роза Отунбаева и Алмазбек Атамбаев доверили ему создавать символы президентской власти – цепь и знак. Но не только эти работы стали гордостью мастера, его объекты заняли достойное место во многих учреждениях нашей страны, а украшения - в частных коллекциях и музеях по всему миру.</p>
        </div>
        <div class="slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">                
                    <div class="swiper-slide">
                        <img src="./images/samples/content-01.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="swiper-slide">
                        <img src="./images/samples/content-01.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="slider-controls">
                    <div class="btn-slide btn-slide-prev"><i class="icon icon-arrow-left"></i></div>
                    <div class="btn-slide btn-slide-next"><i class="icon icon-arrow-right"></i></div>
                </div>
            </div>
        </div>
        <div class="content-in">
            <h3>Видеоотчет</h3>
            <div class="video-block">
                    <iframe width="100%" height="430px" src="https://www.youtube.com/embed/2T8JCapevxM?ecver=1&modestbranding=1&autohide=1&showinfo=0" frameborder="0" gesture="media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="interview-animate-figures animate-on">
    <div class="figure-left">
        <div class="figure figure-small"></div>
        <div class="figure figure-medium"></div>
        <div class="figure figure-large"></div>
    </div>
    <div class="figure-right">
        <div class="figure figure-large"></div>
        <div class="figure figure-medium"></div>
        <div class="figure figure-small"></div>
    </div>
</div>
{% endblock %}
