<!-- Главная страница -->
{% set title = "Календарь событий" %}
{% set page = "events" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<div class="events">
    <div class="container">
            {% for i in range(1, 3) %}
                {% include 'events/_events-item.html' %}
            {% endfor %}
    </div>
</div>
<div class="interview-animate-figures animate-on">
    <div class="figure-left">
        <div class="figure figure-small"></div>
        <div class="figure figure-medium"></div>
        <div class="figure figure-large"></div>
    </div>
    <div class="figure-right">
        <div class="figure figure-large"></div>
        <div class="figure figure-medium"></div>
        <div class="figure figure-small"></div>
    </div>
</div>
{% endblock %}
