<!-- Главная страница -->
{% set title = "Hennesy" %}
{% set page = "mainpage" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->

{% block content %}
    <div class="animate-figures">
        <div class="figure-left">
            <img src="./images/svg/figure.svg" class="animated fadeIn" alt="">
        </div>
        <div class="figure-right">
            <img src="./images/svg/figure.svg" class="animated fadeIn" alt="">
        </div>
    </div>
	<div class="section section-index-select">
        <div class="container">
            <div class="index-select-title">
                <h2>Hennessy X.O открывает величие легендарного Шелкового пути в уникальной Одиссее.</h2>
            </div>
            <div class="index-select-items">
                <div class="slect-item select-item-first">
                    <select class="lang-select">
                        <option>ЯЗЫК</option>
                        <option value="en">English</option>
                        <option value="ru">Русский</option>
                        <option value="kz">Kazakh</option>
                   </select>
                </div>
                <div class="slect-item select-item-second">
                    <select class="date-select" disabled="disabled">
                        <option>ГОД РОЖДЕНИЯ</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1993">1993</option>
                        <option value="1994">1994</option>
                        <option value="1995">1995</option>
                        <option value="1996">1996</option>
                        <option value="1997">1997</option>
                        <option value="1998">1998</option>
                        <option value="1999">1999</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2007">2007</option>
                        <option value="2009">2009</option>
                   </select>
                </div>
                <div class="select-success-btn">
                    <button class="btn btn-success" data-url="http://xosilkroad.com/" disabled="disabled">ПРОДОЛЖИТЬ</button>
                </div>
                <div class="prediction">
                    <p>Войдя на сайт, вы соглашаетесь с нашими<a href="#">правилами</a>и<a href="">условиями</a></p>
                </div>
            </div>
            <div class="index-select-footer">
                <small>
                    HENNESSY ENCOURAGES DRINKING RESPONSIBLY<br>
                    The abuse of alcohol is dangerous for your health.<br>
                    www.responsibledrinking.eu <br>
                    to visit Hennessy, you must be of legal drinking and purchasing age within your country of residence.<br>
                    If no such laws exist in your country you have to be 21 to visit our site.<br>
                    Hennessy supports the responsible consumption of its products through Moet Hennessy, member of SpiritsEUROPE <br>
                    (www.responsibledrinking.eu), DISCUS (www.discus.org) and Avec Moderation ! (www.preventionalcool.com)
                </small>
            </div>
        </div>
    </div>
{% endblock %}
