<section class="section section-promo">
	<div class="promo-slide" style="background-image: url(./images/samples/promo-slide-pic01.jpg)">
		<div class="promo-slide-img">
			<img src="./images/samples/mboile-pic-promo.jpg" alt="">
		</div>
		<div class="container">
			<div class="promo-words">
				<div class="words"><img src="./images/svg/words.svg" alt=""></div>
			</div>
			<div class="watch-video-link">
				<a href="#" class="link-open-video" data-toggle="modal" data-target="#modalVideo">
					<div class="video-icon-link">
						<img src="./images/svg/icon-play.svg" alt="">
					</div>
					<b>Посмотреть<br>видео</b>
				</a>
			</div>
			<div class="promo-map">
				<div class="inside-items">
					<div class="map">
						<img src="./images/svg/promo-map.svg" alt="">
					</div>
					<div class="road">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="394" height="65" viewBox="0 0 394 65">
							<path id="a" d="M767 290.79s17.27-.36 24.68 3.22c7.41 3.57 18.53 17.21 22.75 20.45 4.22 3.24 7.44 2.77 16.14 0 8.71-2.77 17.41-6.64 25.62-3.32 8.2 3.32 11.49 8.32 25.16 9.78 13.68 1.46 23.88-3.23 31.7-7.45 7.82-4.22 12.02 1 17.44 4.22 5.42 3.23 19.47 7.01 33.87-8.34 14.41-15.34 25.94-49.26 40.32-44.98 14.39 4.28-3.4 33.49-5.2 40.66-1.81 7.17-2.62 14.53 1.75 17.19 4.37 2.67 8.39-3.98 10.53-9.75 2.14-5.76 7.09-8.41 19.79-5.76 12.7 2.64 29.04 31.97 126.54 12.52"/>
							<g transform="translate(-766 -263)">
								<use fill="#fff" fill-opacity="0" stroke="#8e734c" stroke-dasharray="5 8" stroke-linecap="round" stroke-miterlimit="50" stroke-width="2" xlink:href="#a"/>
							</g>
						</svg>
					</div>
					<div class="pins">
						<div class="pin"></div>
						<div class="pin"></div>
						<div class="pin"></div>
						<div class="pin"></div>
						<div class="pin"></div>
						<div class="pin"></div>
						<div class="pin"></div>
						<div class="pin"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="modal fade" id="modalVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-logo">
		<div class="logo">
 			<img src="./images/svg/logo.svg" alt="">
 		</div>
	</div>
  	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	      	<div class="modal-body">
			
				{% include "video-player/_video-player.html" %}

	      	</div>
	    </div>
  	</div>
  	<div class="modal-close">
  		<button type="button" class="btn btn-default" data-dismiss="modal">×</button>
  	</div>
</div>