/* параметры анимации для разных блоков */

/* слова */
$words-animation-name: words;
$words-animation-time: 1s;
$words-animation-delay: 0;
$words-animation-timing-function: ease-in;
$words-animation-fill-mode: forwards;

/* карта */
$map-animation-name: map;
$map-animation-time: 1s;
$map-animation-delay: 0;
$map-animation-timing-function: ease-in;
$map-animation-fill-mode: forwards;

/* дорога на карте*/
$road-animation-name: road;
$road-animation-time: 3.3s;
$road-animation-delay: 1s;
$road-animation-timing-function: linear;
$road-animation-fill-mode: forwards;

/* пины на карте */
$pins-animation-name: pins;
$pins-animation-time: 0.5s;
$pins-animation-delay: 2.6s;
$pins-animation-timing-function: ease-in;
$pins-animation-fill-mode: forwards;

/* видео сылка */
$video-link-animation-name: videoLink;
$video-link-animation-time: 1s;
$video-link-animation-delay: 2.6s;
$video-link-animation-timing-function: ease-in;
$video-link-animation-fill-mode: forwards;

/* keyframe's анимация */
@keyframes words {
  	to {
	    opacity: 1;
  	}
}
@keyframes map {
  	to {
	    opacity: 1;
  	}
}
@keyframes road {
  	to {
	    stroke-dashoffset: 0;
  	}
}
@keyframes videoLink {
  	to {
	    opacity: 1;
  	}
}
@keyframes pins {
  	to {
	    opacity: 1;
  	}
}
/*  */
.section-promo {
	display: block;
	height: 100vh;
	margin-top: -#{$header-height};
	@include respond-to($respond-phone) {
		margin-top: 0;
		height: 70vh;
		max-height: 700px;
		min-height: 465px;
	}
	.promo-slide {
		height: 100%;
		position: relative;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		.promo-slide-img {
			display: none;
		}
		.container {
			position: relative;
			height: 100%;
		}
		.promo-words {
			position: absolute;
			width: 380px;
			height: 143px;
			top: 45%;
			margin-top: -71.5px;
			left: 0;
			z-index: 1;
			@include respond-to($respond-phone) {
				width: 100%;
				padding-top: 100px;
				position: static;
				height: auto;
				margin-top: 0;
				img {
					max-width: 100%;
				}
			}
			.words {
				display: block;
				opacity: 0;

				animation-name: $words-animation-name;
			    animation-duration: $words-animation-time;
			    animation-timing-function: $words-animation-timing-function;
			    animation-fill-mode: $words-animation-fill-mode;
			}
			
		}
		.watch-video-link {
			opacity: 0;
			width: 115px;
			height: 130px;

			position: absolute;
			bottom: 20%;
			left: 50%;
			margin-left:-57.5px;
			margin-top:-65px;

			text-align: center;

			animation-name: $video-link-animation-name;
			animation-duration: $video-link-animation-time;
			animation-delay: $video-link-animation-delay;
			animation-timing-function: $video-link-animation-timing-function;
			animation-fill-mode: $video-link-animation-fill-mode;
			@include respond-to($respond-phone) {
				height: auto;
				position: relative;
				top: auto;
				margin-top: 50px;
			}
			.video-icon-link {
				width: 50px;
				height: 50px;
				background-color: #ffffff;
				transform: rotate(45deg);
				transition: all .3s;
				text-align: center;
				display: inline-block;
				margin-bottom: 15px;
				img {
					display: inline-block;
					vertical-align: middle;
					transform: rotate(-45deg);
					margin-top: 10px;
					margin-left: 4px;
				}
			}
			.link-open-video {
				display: inline-block;
				color: #ffffff;
				font-family: 'Helvetica';
				font-size: 20px;
				line-height: 25px;
				font-weight: 400;
				&:hover {
					color: #dd9b3a;
					&::after {
						background-color: #dd9b3a;
					}
				}					
			}
		}
		.promo-map {
			position: absolute;
			top: 40%;
			margin-top: -102px;
			right: 0;
			width: 800px;
			@include respond-to($respond-phone) {
				display: none;
			}
			.inside-items {
				position: relative;
				height: 100%;
				width: 100%;
			}
			.map {
				opacity: 0;
				animation-name: $map-animation-name;
			    animation-duration: $map-animation-time;
			    animation-timing-function: $map-animation-timing-function;
				animation-fill-mode: $map-animation-fill-mode;
				img {
					max-width: 100%;
				}
			}
			.road {
				background-color: transparent;
				@include stretch(35px,115px,0,25px);
				svg {
					width: 100%;
					height: auto;
					#a {
						stroke:#fff; 
					 	stroke-dasharray: 1000;
					  	stroke-dashoffset: 1000;
						stroke-width:2;

					  	animation-name: $road-animation-name;
					    animation-duration: $road-animation-time;
					    animation-delay: $road-animation-delay;
					    animation-timing-function: $road-animation-timing-function;
					    animation-fill-mode: $road-animation-fill-mode;
					}
				}
			}
			.pins {
				background:transparent;
				@include stretch;
				.pin {
					width: 20px;
					height: 20px;
					background-color: #fff;
					transform: rotate(45deg);
					position: absolute;
					opacity: 0;

					animation-name: $pins-animation-name;
				    animation-duration: $pins-animation-time;
				    animation-delay: $pins-animation-delay;
				    animation-timing-function: $pins-animation-timing-function;
				    animation-fill-mode: $pins-animation-fill-mode;
				    
					&:nth-child(1) {
						left: 2%;
						top: 21%;
					}
					&:nth-child(2) {
						left: 20%;
						top: 30%;
					}
					&:nth-child(3) {
						left: 30%;
						top: 35%;
					}
					&:nth-child(4) {
						left: 37%;
						top: 34%;
					}
					&:nth-child(5) {
						left: 52%;
						top: 8%;
					}	
					&:nth-child(6) {
						left: 50.5%;
						top: 32%;
					}
					&:nth-child(7) {
						left: 55%;
						top: 29%;
					}
					&:nth-child(8) {
						left: 83%;
						top: 35%;
					}
				}
			}
		}
	}
}