.promo-carousel {
    .promo-carousel-arrow {
        position: relative;
        width: 30px;
        height: 30px;
        color: #000;
        font-size: 18px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        cursor: pointer;
        .icon {
            position: relative;
            z-index: 1;
        }
        &.promo-carousel-next {
            position: absolute;
            right: 0;
        }
        &.promo-carousel-prev {
            position: absolute;
            left: 0;
        }
        &::before {
            content: '';
            @include stretch;
            background: $gold;
            z-index: -1;
            transform: rotate(45deg);
        }
    }
}