<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
  <meta name="theme-color" content="#000000">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <title>{{title}}</title>

  <!-- build:css styles/vendor.min.css -->
  <!-- <link rel="stylesheet" href="/bower_components/hover/css/hover-min.css" /> -->
  <link type="text/css" href="/bower_components/animate.css/animate.min.css" rel="stylesheet" />
  <link type="text/css" href="/bower_components/jPlayer/dist/skin/blue.monday/css/jplayer.blue.monday.css" rel="stylesheet" />
  <link type="text/css" href="/bower_components/jquery-selectric/public/themes/square/selectric.css" rel="stylesheet" />
  <link type="text/css" href="/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
  <link type="text/css" href="/bower_components/swiper/dist/css/swiper.min.css" rel="stylesheet" />
  <!-- endbuild -->

  <!-- build:css styles/main.min.css -->
  <link rel="stylesheet" href="styles/main.css" />
  <!-- endbuild -->
</head>

<body data-template="{{page}}">

  <!--[if lt IE 10]>
    <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    </p>
  <![endif]-->

  <!-- .wrapper -->
  <div class="wrapper">

    <div class="wrapper-in">
      {% include "m-header/_m-header.html" %}
      {% include "header/_header.html" %}

      <!-- .content -->
      <main class="content">
        {% block content %}{% endblock %}
      </main><!-- end .content -->
      
      {% include 'footer/_footer.html' %}
    </div>
    
  </div><!-- end .wrapper -->

  <!-- build:js scripts/vendor.min.js -->
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="scripts/bootstrap.min.js"></script>
  <script src="/bower_components/jPlayer/dist/jplayer/jquery.jplayer.js"></script>
  <script src="/bower_components/jquery-selectric/public/jquery.selectric.min.js"></script>
  <script src="/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="/bower_components/jQuery-viewport-checker/dist/jquery.viewportchecker.min.js"></script>
  <script src="/bower_components/swiper/dist/js/swiper.min.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/main.min.js -->
  <script src="scripts/main.js"></script>
  <script src="/components/video-player/_video-player.js"></script>
  <script src="/components/select-page/_select-page.js"></script>
  <script src="/components/animation/_animation.js"></script>
  <script src="/components/interview-inside/_interview-inside.js"></script>
  <script src="/components/promo-carousel/_promo-carousel.js"></script>
  <script src="/components/about-figures/_about-figures.js"></script>
  <script src="/components/about-promo/_about-promo.js"></script>
  <script src="/components/tastes/_tastes.js"></script>
  <script src="/components/header/_header.js"></script>
  <script src="/components/m-header/_m-header.js"></script>
  <!-- endbuild -->

</body>

</html>
